@{
    Layout = "~/Views/Shared/_BackBtnLayout.cshtml";
}

<div class="container-full" style="margin-top: 80px;">
    <div class="solo-detail row d-flex justify-content-around mx-0">
        <div class="match-detail col-10 col-lg-5 p-0">
            <div class="match-header d-flex justify-content-between">
                <div class="match-title">
                    <span>Chạm <span id="race-to">11</span></span>
                </div>
                <div class="game-type">9 bi</div>
            </div>
            <div style="overflow-y: auto; height: calc(100% - 44px)">
                <div class="d-flex justify-content-between align-items-center" style="height: 24px;">
                    <div class="match-time">
                        <span>13:20</span>
                        <span> - 14:20</span>
                        <span>22/02/2024</span>
                    </div>
                    <div class="match-complete">Đã xong</div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="match-rule">
                        <i>Break box, phá luân phiên</i>
                    </div>
                </div>
                <div style="padding: 20px 50px; height: calc(100% - 56px);">
                    <div class="first-player">
                        <div class="details-player d-flex justify-content-between">
                            <span class="d-flex align-items-center">
                                <img src="Image/VietNamFlag.png" alt="">
                                <span class="px-2">Kiên máy xúc</span>
                            </span>
                            <span class="score-number first">6</span>
                        </div>
                        <div class="control-box d-flex justify-content-end">
                            <button id="first-down-btn" class="control-btn down">-</button>
                            <button class="control-btn up">+</button>
                        </div>
                    </div>
                    <div class="match-statistic">
                        <div class="statistic-content">
                            <div class="title">Chuỗi thắng liên tiếp:</div>
                            <span id="first-streak" class="streak">0</span>
                        </div>
                        <div class="statistic-content">
                            <span class="title">Tỉ lệ ván thắng:</span>
                            <div class="percent">
                                <div class="percent-number text-center first"></div>
                                <div class="total">
                                    <div class="percent first"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-player">
                        <div class="details-player d-flex justify-content-between mt-5">
                            <span class="d-flex align-items-center">
                                <img src="Image/VietNamFlag.png" alt="">
                                <span class="px-2">Kiên sành điệu</span>
                            </span>
                            <span class="score-number second">3</span>
                        </div>
                        <div class="control-box d-flex justify-content-end">
                            <button id="second-down-btn" class="control-btn down">-</button>
                            <button class="control-btn up">+</button>
                        </div>
                    </div>
                    <div class="match-statistic pb-3">
                        <div class="statistic-content">
                            <div class="title">Chuỗi thắng liên tiếp:</div>
                            <span id="second-streak" class="streak">0</span>
                        </div>
                        <div class="statistic-content">
                            <span class="title">Tỉ lệ ván thắng:</span>
                            <div class="percent">
                                <div class="percent-number text-center second"></div>
                                <div class="total">
                                    <div class="percent second"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="match-detail col-10 col-lg-6 p-0 m-5 m-lg-0">
            <div class="match-header d-flex justify-content-between">
                <div class="match-title">
                    <span>Bảng điểm</span>
                </div>
            </div>
            <div class="details-body" style="height: calc(100% - 44px)">
                <div class="score-board d-flex align-items-end ">
                    <div class="name-board">
                        <div class="board-line"><span>Nam Vũ</span></div>
                        <div><span>Quảng Vũ</span></div>
                    </div>
                    <div class="general-score">
                        <div class="board-line px-2"><span>Điểm</span></div>
                        <div class="text-center board-line"><span>6</span></div>
                        <div class="text-center"><span>3</span></div>
                    </div>
                    <div id="set-1" class="detail-score">
                        <div class="round-score board-line"><span>1</span></div>
                        <div class="board-line first-mark"><span><i class="fa-solid fa-xmark"></i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-2" class="detail-score">
                        <div class="round-score board-line"><span>2</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</span></div>
                        <div class="second-mark"><span><i class="fa-solid fa-xmark"></i></span></div>
                    </div>
                    <div id="set-3" class="detail-score">
                        <div class="round-score board-line"><span>3</span></div>
                        <div class="board-line first-mark"><span><i class="fa-solid fa-xmark"></i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-4" class="detail-score">
                        <div class="round-score board-line"><span>4</span></div>
                        <div class="board-line first-mark"><span><i class="fa-solid fa-xmark"></i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-5" class="detail-score">
                        <div class="round-score board-line"><span>5</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</span></div>
                        <div class="second-mark"><span><i class="fa-solid fa-xmark"></i></span></div>
                    </div>
                    <div id="set-6" class="detail-score">
                        <div class="round-score board-line"><span>6</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</span></div>
                        <div class="second-mark"><span><i class="fa-solid fa-xmark"></i></span></div>
                    </div>
                    <div id="set-7" class="detail-score">
                        <div class="round-score board-line"><span>7</span></div>
                        <div class="board-line first-mark"><span><i class="fa-solid fa-xmark"></i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-8" class="detail-score">
                        <div class="round-score board-line"><span>8</span></div>
                        <div class="board-line first-mark"><span><i class="fa-solid fa-xmark"></i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-9" class="detail-score">
                        <div class="round-score board-line"><span>9</span></div>
                        <div class="board-line first-mark"><span><i class="fa-solid fa-xmark"></i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-10" class="detail-score">
                        <div class="round-score board-line"><span>10</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                </div>
                <div class="score-board d-flex align-items-end ">
                    <div class="name-board">
                        <div class="board-line"><span>Nam Vũ</span></div>
                        <div><span>Quảng Vũ</span></div>
                    </div>
                    <div class="general-score">
                        <div class="board-line px-2"><span>Điểm</span></div>
                        <div class="text-center board-line"><span>6</span></div>
                        <div class="text-center"><span>3</span></div>
                    </div>
                    <div id="set-11" class="detail-score">
                        <div class="round-score board-line"><span>11</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-12" class="detail-score">
                        <div class="round-score board-line"><span>12</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-13" class="detail-score">
                        <div class="round-score board-line"><span>13</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-14" class="detail-score">
                        <div class="round-score board-line"><span>14</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-15" class="detail-score">
                        <div class="round-score board-line"><span>15</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-16" class="detail-score">
                        <div class="round-score board-line"><span>16</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-17" class="detail-score">
                        <div class="round-score board-line"><span>17</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-18" class="detail-score">
                        <div class="round-score board-line"><span>18</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-19" class="detail-score">
                        <div class="round-score board-line"><span>19</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-20" class="detail-score">
                        <div class="round-score board-line"><span>20</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                </div>
                <div class="score-board d-flex align-items-end ">
                    <div class="name-board">
                        <div class="board-line"><span>Nam Vũ</span></div>
                        <div><span>Quảng Vũ</span></div>
                    </div>
                    <div class="general-score">
                        <div class="board-line px-2"><span>Điểm</span></div>
                        <div class="text-center board-line"><span>6</span></div>
                        <div class="text-center"><span>3</span></div>
                    </div>
                    <div id="set-21" class="detail-score">
                        <div class="round-score board-line"><span>21</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-12" class="detail-score">
                        <div class="round-score board-line"><span>&nbsp;</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-13" class="detail-score">
                        <div class="round-score board-line"><span>&nbsp;</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-14" class="detail-score">
                        <div class="round-score board-line"><span>&nbsp;</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-15" class="detail-score">
                        <div class="round-score board-line"><span>&nbsp;</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-16" class="detail-score">
                        <div class="round-score board-line"><span>&nbsp;</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-17" class="detail-score">
                        <div class="round-score board-line"><span>&nbsp;</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-18" class="detail-score">
                        <div class="round-score board-line"><span>&nbsp;</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-19" class="detail-score">
                        <div class="round-score board-line"><span>&nbsp;</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                    <div id="set-20" class="detail-score">
                        <div class="round-score board-line"><span>&nbsp;</span></div>
                        <div class="board-line first-mark"><span>&nbsp;</i></span></div>
                        <div class="second-mark"><span>&nbsp;</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="confirm-popup d-none">
    <div class="confirm-content">
        <div class="confirm-title">
            Kết thúc trận đấu.
        </div>
        <div class="d-flex justify-content-around">
            <div class="exit-btn" style="width: 200px;">
                Hủy
            </div>
            <div class="save-random" style="width: 200px;">
                Kết thúc
            </div>
        </div>
    </div>
</div>

<script>
    const controlBtns = document.querySelectorAll('.control-btn');
    const ractTo = document.getElementById('race-to');
    const popup = document.querySelector('.confirm-popup');
    const firstDown = document.getElementById('first-down-btn');
    const secondDown = document.getElementById('second-down-btn');
    var raceToNumber = parseInt(ractTo.textContent);
    var totalScoreNumber = 0;

    controlBtns.forEach(controlBtn => {
        controlBtn.addEventListener('click', () => {
            const parent = controlBtn.parentNode.parentNode;
            var score = parent.querySelector('.score-number');
            var scoreNumber = score.textContent;
            var playerTag = 0;

            if (parent.classList.contains('first-player')) {
                playerTag = 1;
            } else {
                playerTag = 2;
            }

            if (controlBtn.classList.contains('up')) {
                if (parseInt(scoreNumber) < (raceToNumber - 1)) {
                    score.textContent = parseInt(scoreNumber) + 1;
                    updateScore();
                    updateMark(2, playerTag);
                    onOffDownBtn();
                }
                if (parseInt(scoreNumber) + 1 === raceToNumber) {
                    popup.classList.remove('d-none');
                    popup.querySelector('.exit-btn').addEventListener('click', () => {
                        popup.classList.add('d-none');
                        popup.querySelector('.save-random').removeEventListener('click', finishMatch);
                    })
                    popup.querySelector('.save-random').addEventListener('click', finishMatch);
                    function finishMatch() {
                        controlBtns.forEach(btn => {
                            btn.classList.add('d-none');
                        })
                        popup.classList.add('d-none');
                        score.textContent = parseInt(scoreNumber) + 1;
                        updateScore();
                        updateMark(2, playerTag);
                        countMaxRun();

                        parent.querySelector('.details-player').classList.add('win');
                        document.querySelectorAll('.details-player').forEach(player => {
                            if (!player.classList.contains('win')) {
                                player.classList.add('lose');
                            }
                        })

                    }
                }
            } else if (controlBtn.classList.contains('down') && parseInt(scoreNumber) > 0) {
                score.textContent = parseInt(scoreNumber) - 1;
                updateMark(1, playerTag);
                updateScore();
                onOffDownBtn();
            }
            countMaxRun();
        })
    })

    updateScore();
    function updateScore() {
        const firstScore = document.querySelector('.score-number.first');
        const secondScore = document.querySelector('.score-number.second');
        const firstPercent = document.querySelector('.percent.first');
        const secondPercent = document.querySelector('.percent.second');
        const firstPercentNum = document.querySelector('.percent-number.first');
        const secondPercentNum = document.querySelector('.percent-number.second');

        var firstScoreNumber = parseInt(firstScore.textContent);
        var secondScoreNumber = parseInt(secondScore.textContent);
        totalScoreNumber = firstScoreNumber + secondScoreNumber;
        var firstPercentCal = 0;
        var secondPercentCal = 0;
        if (totalScoreNumber !== 0) {
            firstPercentCal = (firstScoreNumber / totalScoreNumber * 100).toFixed(2);
            secondPercentCal = (100 - firstPercentCal).toFixed(2);
        }

        firstPercentNum.textContent = firstPercentCal + '%';
        secondPercentNum.textContent = secondPercentCal + '%';
        firstPercent.style.width = firstPercentCal * 2 + 'px';
        secondPercent.style.width = secondPercentCal * 2 + 'px';
    }

    onOffDownBtn();
    function onOffDownBtn() {
        if (totalScoreNumber > 0) {
            const setBox = document.getElementById('set-' + totalScoreNumber);
            const firstMark = setBox.querySelector('.first-mark');
            const secondMark = setBox.querySelector('.second-mark');

            if (firstMark.querySelector('i') !== null) {
                firstDown.hidden = false;
            } else {
                firstDown.hidden = true;
            }

            if (secondMark.querySelector('i') !== null) {
                secondDown.hidden = false;
            } else {
                secondDown.hidden = true;
            }
        } else {
            firstDown.hidden = true;
            secondDown.hidden = true;
        }
    }

    function updateMark(controlTag, playerTag) {
        if (totalScoreNumber > 0) {
            const setBox = document.getElementById('set-' + totalScoreNumber);
            console.log(totalScoreNumber)
            console.log(setBox)
            if (controlTag === 1) {
                if (playerTag === 1) {
                    setBox.querySelector('.first-mark').innerHTML =
                        '<span>&nbsp;</span>';
                } else if (playerTag === 2) {
                    setBox.querySelector('.second-mark').innerHTML =
                        '<span>&nbsp;</span>';
                }
            } else {
                if (playerTag === 1) {
                    setBox.querySelector('.first-mark').innerHTML =
                        '<span><i class="fa-solid fa-xmark">';
                } else if (playerTag === 2) {
                    setBox.querySelector('.second-mark').innerHTML =
                        '<span><i class="fa-solid fa-xmark">';
                }
            }
        }
    }

    const detailScoreList = document.querySelectorAll('.detail-score');
    const firstStreak = document.getElementById('first-streak');
    const secondStreak = document.getElementById('second-streak');

    function countMaxRun() {
        var firstMaxRun = 0;
        var secondMaxRun = 0;
        var firstRunCount = 0;
        var secondRunCount = 0;
        var isFirstPlayer;
        if (detailScoreList[0].querySelector('.first-mark').querySelector('i') !== null) {
            isFirstPlayer = true;
        } else {
            isFirstPlayer = false;
        }
        for (let i = 0; i < (raceToNumber * 2 - 1); i++) {
            const detailScore = detailScoreList[i];
            const firstMark = detailScore.querySelector('.first-mark i');
            const secondMark = detailScore.querySelector('.second-mark i');

            if (firstMark !== null) {
                if (isFirstPlayer === true) {
                    firstRunCount++;
                    if (firstMaxRun < firstRunCount) {
                        firstMaxRun = firstRunCount;
                    }
                } else {
                    firstRunCount = 1;
                    isFirstPlayer = true;
                }
            } else if (secondMark !== null) {
                if (isFirstPlayer === false) {
                    secondRunCount++;
                    if (secondMaxRun < secondRunCount) {
                        secondMaxRun = secondRunCount;
                    }
                } else {
                    secondRunCount = 1;
                    isFirstPlayer = false;
                }
            } else {
                break;
            }
            firstStreak.textContent = firstMaxRun;
            secondStreak.textContent = secondMaxRun;
        }
    }
    countMaxRun();
</script>