@{
    Layout = "~/Views/Shared/_CreateTournamentLayout.cshtml";
}

<div class="container-full">
    <div class="create-tour d-flex justify-content-end">
        <div class="tour-step-nav">
            <div class="tour-step">
                <div class="step-number">1</div>
                <div class="step-title">Cài đặt</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number">2</div>
                <div class="step-title">Người chơi</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number">3</div>
                <div class="step-title">Bàn đấu</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number">4</div>
                <div class="step-title">Ảnh bìa</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number active">5</div>
                <div class="step-title">Xếp trận</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number">6</div>
                <div class="step-title">Hoàn thành</div>
            </div>
        </div>
        <div class="create-tour-display col-lg-10 py-0">
            <div class="create-step-five">
                <div class="display-title d-flex justify-content-between">
                    <div>Sơ đồ đấu</div>
                    <div class="d-flex align-items-center">
                        <div class="step-two-nav arrange-btn">
                            Sắp xếp
                            <div class="arrange-menu">
                                <a href="systemRandom.html">Hệ thống ngẫu nhiên</a>
                                <a href="userRandom.html">Người dùng ngẫu nhiên</a>
                                <a href="userCustom.html">Người dùng tùy chỉnh</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="display-content m-0">
                    <div class="container-bracket mt-0">
                        <div class="bracket-tab">
                            <div class="bracket-content d-flex" style="top:50px">
                                <div id="loser-match-body"></div>
                                <div id="winer-match-body"></div>
                            </div>
                        </div>
                        <div class="zoom-btns">
                            <div class="screen-size">
                                <button class="zoom-in" onclick="fullScreen()">
                                    <i class="fa-solid fa-expand"></i>
                                </button>
                            </div>
                            <div>
                                <button class="zoom-in" onclick="zoomIn()">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="zoom-out" onclick="zoomOut()">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const winMatchBody = document.getElementById('winer-match-body');
    const playerNumber = 32;
    let roundNumber = Math.log2(playerNumber / 2);
    const finalSinglePlayer = 2;
    let finalSingleRound = roundNumber - Math.log2(finalSinglePlayer) + 1;
    var width = 250;
    var height = 60;
    var matchDistance = 30;
    var leftRightSpace = 100;
    let numberMatchEachRound = 0;
    let count = 0;
    var winBody = '';

    for (i = 0; i <= finalSingleRound; i++) {
        numberMatchEachRound = 2 ** (roundNumber - i);
        for (j = 0; j < numberMatchEachRound; j++) {
            if (i == 0) {
                ++count;
                winBody += '<div class="match-box" id="match' + count + '" style=" top:' + (j * 2 * height) + 'px;width: ' + width + 'px; height: ' + height + 'px;">'
                    + '<div class="match-content row">'
                    + '<div class="match-number col-2 p-0 text-center">'
                    + count
                    + '</div>'
                    + '<div class="player-match col-8">'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '<img src="Image/VietNamFlag.png"/>'
                    + '<!-- 15 char -->'
                    + '<div class="player-name">Vũ Hoài Nam</div>'
                    + '</div>'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '<img src="Image/VietNamFlag.png"/>'
                    + '<!-- 15 char -->'
                    + '<div class="player-name">Vũ Hữu Quảng</div>'
                    + '</div>'
                    + '</div>'
                    + '<div class="col-2">'
                    + '</div>'
                    + '<div class="match-table">Table <span class="table-number">99</span></div>'
                    + '<div class="match-raceTo">Race to <span class="raceTo-number">99</span></div>'
                    + '<div class="next-match d-flex">'
                    + '<div class="next-win">W: <span class="win-match-number">123</span>,</div>'
                    + '<div class="next-lose">L: <span class="lose-match-number">111</span></div>'
                    + '</div>'
                    + '</div>'
                    + '</div>'
            } else {
                ++count;
                winBody +=
                    '<div class="line" style="top: ' + (height * (((2 ** i - 1) / 2) + (2 ** (i + 1) * j))) + 'px; left:' + (width * i + matchDistance * (i - 1)) + 'px">'
                    + '<div class="left-line-win" style="width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height) + 'px;"></div>'
                    + '<div class="right-line-win" style="width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height / 2) + 'px;"></div>'
                    + '</div>'
                    + '<div class="match-box" id="match' + count + '" style="top:' + (height * ((2 ** i - 1) + 2 ** (i + 1) * j)) + 'px; left: ' + ((matchDistance + width) * i) + 'px;width: ' + width + 'px; height: ' + height + 'px;">'
                    + '<div class="match-content row">'
                    + '<div class="match-number col-2 p-0 text-center">'
                    + count
                    + '</div>'
                    + '<div class="player-match col-8">'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '</div>'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '</div>'
                    + '</div>'
                    + '<div class="col-2">'
                    + '</div>'
                    + '<div class="match-table">Table <span class="table-number">99</span></div>'
                    + '<div class="match-raceTo">Race to <span class="raceTo-number">99</span></div>'
                    + '<div class="next-match d-flex">'
                    + '<div class="next-win">W: <span class="win-match-number">123</span>,</div>'
                    + '<div class="next-lose">L: <span class="lose-match-number">111</span></div>'
                    + '</div>'
                    + '</div>'
                    + '</div>'
            }
        }
    }



    const loseMatchBody = document.getElementById('loser-match-body');
    var loseBody = '';
    for (i = 1; i <= finalSingleRound; i++) {
        numberMatchEachRound = 2 ** (roundNumber - i);
        for (j = 0; j < numberMatchEachRound; j++) {
            ++count;
            loseBody +=
                '<div class="line" style="top: ' + (height * (((2 ** i - 1) / 2) + (2 ** (i + 1) * j))) + 'px; right:' + ((i - 1) * (1.5 * matchDistance + 2 * width)) + 'px">'
                + '<div class="left-line-lose" style="width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height / 2) + 'px;"></div>'
                + '<div class="right-line-lose" style="width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height) + 'px;"></div>'
                + '</div>'
                + '<div class="match-box" id="match' + count + '" style="top:' + (height * ((2 ** i - 1) + 2 ** (i + 1) * j)) + 'px; right: ' + ((1.5 * i - 0.5) * matchDistance + 2 * (i - 1) * width) + 'px;width: ' + width + 'px; height: ' + height + 'px;">'
                + '<div class="match-content row">'
                + '<div class="match-number col-2 p-0 text-center">'
                + count
                + '</div>'
                + '<div class="player-match col-8">'
                + '<div class="d-flex justify-content-start align-items-center">'
                + '</div>'
                + '<div class="d-flex justify-content-start align-items-center">'
                + '</div>'
                + '</div>'
                + '<div class="col-2">'
                + '</div>'
                + '<div class="match-table">Table <span class="table-number">99</span></div>'
                + '<div class="match-raceTo">Race to <span class="raceTo-number">99</span></div>'
                + '<div class="next-match d-flex">'
                + '<div class="next-win">W: <span class="win-match-number">123</span>,</div>'
                + '<div class="next-lose">L: <span class="lose-match-number">111</span></div>'
                + '</div>'
                + '</div>'
                + '</div>'
        }
        for (j = 0; j < numberMatchEachRound; j++) {
            ++count;
            loseBody +=
                '<div class="between-line" style="top: ' + (height * (((2 ** i - 1) / 2) + (2 ** (i + 1) * j))) + 'px; right:' + ((1.5 * i - 0.5) * matchDistance + (2 * i - 1) * width) + 'px; width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height / 2) + 'px;"></div>'
                + '<div class="match-box" id="match' + count + '" style="top: ' + (height * ((2 ** i - 1) + 2 ** (i + 1) * j)) + 'px; right: ' + ((matchDistance * 1.5 * i + width * (2 * i - 1))) + 'px;width: ' + width + 'px; height: ' + height + 'px;">'
                + '<div class="match-content row">'
                + '<div class="match-number col-2 p-0 text-center">'
                + count
                + '</div>'
                + '<div class="player-match col-8">'
                + '<div class="d-flex justify-content-start align-items-center">'
                + '</div>'
                + '<div class="d-flex justify-content-start align-items-center">'
                + '</div>'
                + '</div>'
                + '<div class="col-2">'
                + '</div>'
                + '<div class="match-table">Table <span class="table-number">99</span></div>'
                + '<div class="match-raceTo">Race to <span class="raceTo-number">99</span></div>'
                + '<div class="next-match d-flex">'
                + '<div class="next-win">W: <span class="win-match-number">123</span>,</div>'
                + '<div class="next-lose">L: <span class="lose-match-number">111</span></div>'
                + '</div>'
                + '</div>'
                + '</div>'
        }
    }
    loseMatchBody.innerHTML = loseBody;

    for (i = finalSingleRound; i <= roundNumber; i++) {
        numberMatchEachRound = 2 ** (roundNumber - i);
        if (i === finalSingleRound) {
            for (j = 0; j < numberMatchEachRound; j++) {
                ++count;
                winBody +=
                    '<div class="line" style="top: ' + (height * (((2 ** i - 1) / 2) + (2 ** (i + 1) * j))) + 'px; left:' + (width * (i + 1) + matchDistance * i) + 'px">'
                    + '<div class="right-line-win" style="width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height / 2) + 'px;"></div>'
                    + '</div>'
                    + '<div class="match-box" id="match' + count + '" style="top:' + (height * ((2 ** i - 1) + 2 ** (i + 1) * j)) + 'px; left: ' + (matchDistance * (i + 0.5) + width * (i + 1)) + 'px;width: ' + width + 'px; height: ' + height + 'px;">'
                    + '<div class="match-content row">'
                    + '<div class="match-number col-2 p-0 text-center">'
                    + count
                    + '</div>'
                    + '<div class="player-match col-8">'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '</div>'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '</div>'
                    + '</div>'
                    + '<div class="col-2">'
                    + '</div>'
                    + '<div class="match-table">Table <span class="table-number">99</span></div>'
                    + '<div class="match-raceTo">Race to <span class="raceTo-number">99</span></div>'
                    + '<div class="next-match d-flex">'
                    + '<div class="next-win">W: <span class="win-match-number">123</span>,</div>'
                    + '<div class="next-lose">L: <span class="lose-match-number">111</span></div>'
                    + '</div>'
                    + '</div>'
                    + '</div>'
            }
        } else {
            for (j = 0; j < numberMatchEachRound; j++) {
                ++count;
                winBody +=
                    '<div class="line" style="top: ' + (height * (((2 ** i - 1) / 2) + (2 ** (i + 1) * j))) + 'px; left:' + (width * (i + 1) + matchDistance * (i - 0.5)) + 'px">'
                    + '<div class="left-line-win" style="width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height) + 'px;"></div>'
                    + '<div class="right-line-win" style="width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height / 2) + 'px;"></div>'
                    + '</div>'
                    + '<div class="match-box" id="match' + count + '" style="top:' + (height * ((2 ** i - 1) + 2 ** (i + 1) * j)) + 'px; left: ' + (matchDistance * (i + 0.5) + width * (i + 1)) + 'px;width: ' + width + 'px; height: ' + height + 'px;">'
                    + '<div class="match-content row">'
                    + '<div class="match-number col-2 p-0 text-center">'
                    + count
                    + '</div>'
                    + '<div class="player-match col-8">'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '</div>'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '</div>'
                    + '</div>'
                    + '<div class="col-2">'
                    + '</div>'
                    + '<div class="match-table">Table <span class="table-number">99</span></div>'
                    + '<div class="match-raceTo">Race to <span class="raceTo-number">99</span></div>'
                    + '<div class="next-match d-flex">'
                    + '<div class="next-win">W: <span class="win-match-number">123</span>,</div>'
                    + '<div class="next-lose">L: <span class="lose-match-number">111</span></div>'
                    + '</div>'
                    + '</div>'
                    + '</div>'
            }
        }

    }

    winMatchBody.innerHTML = winBody;

    const lastMatchHeight = document.getElementById('match' + playerNumber / 2);
    const matchTableElement = lastMatchHeight.querySelector('.match-raceTo');
    matchTableElement.style.paddingBottom = '200px';

    window.addEventListener('load', centerPosition);

    function centerPosition() {
        bracketTab.scrollLeft = loseMatchBody.offsetWidth - window.innerWidth / 2 + 200;
    }

    let currentZoom = 0.5;

    let winerWidth;
    let loserWidth;

    const bracketContent = document.querySelector('.bracket-content');
    const bracketTab = document.querySelector('.bracket-tab');
    const zoomInBtn = document.querySelector('.zoom-in');
    const zoomOutBtn = document.querySelector('.zoom-out');

    zoomInBtn.removeEventListener
    applyZoom();
    function zoomIn() {
        if (currentZoom <= 1.5) {
            currentZoom += 0.1;
            applyZoom();
            zoomOutBtn.style.opacity = '1';
            zoomOutBtn.classList.remove('no-hover');
        } else {
            zoomInBtn.style.opacity = '0.3';
            zoomInBtn.classList.add('no-hover');
        }
    }

    function zoomOut() {
        if (currentZoom >= 0.2) {
            currentZoom -= 0.1;
            applyZoom();
            zoomInBtn.style.opacity = '1';
            zoomInBtn.classList.remove('no-hover');
        } else {
            zoomOutBtn.style.opacity = '0.3';
            zoomOutBtn.classList.add('no-hover');
        }
    }

    function applyZoom() {
        winerWidth = ((roundNumber + 2) * width + (roundNumber + 0.5) * matchDistance) * currentZoom + leftRightSpace;
        loserWidth = (finalSingleRound * (2 * width + 1.5 * matchDistance)) * currentZoom + leftRightSpace;
        winMatchBody.style.width = winerWidth + 'px';
        loseMatchBody.style.width = loserWidth + 'px';
        bracketContent.style.transform = `scale(${currentZoom})`;
        centerPosition();
    }


    const displayContent = document.querySelector('.display-content');
    const header = document.querySelector('header');
    const displayTitle = document.querySelector('.display-title');
    const tourStepNav = document.querySelector('.tour-step-nav');
    const screenSize = document.querySelector('.screen-size');

    function fullScreen() {
        displayContent.classList.add('full-screen');
        screenSize.innerHTML = '<button class="zoom-in" onclick="minimized()">'
            + '<i class="fa-solid fa-compress"></i>'
            + '</button>';
        header.classList.add('d-none');
        displayTitle.classList.add('d-none');
        tourStepNav.classList.add('d-none');
    }

    function minimized() {
        displayContent.classList.remove('full-screen');
        screenSize.innerHTML = '<button class="zoom-in" onclick="fullScreen()">'
            + '<i class="fa-solid fa-expand"></i>'
            + '</button>';
        header.classList.remove('d-none');
        displayTitle.classList.remove('d-none');
        tourStepNav.classList.remove('d-none');
    }

</script>