@{
    Layout = "~/Views/Shared/_CreateTournamentLayout.cshtml";
}

<div class="container-full">
    <div class="create-tour d-flex justify-content-end">
        <div class="tour-step-nav">
            <div class="tour-step">
                <div class="step-number">1</div>
                <div class="step-title">Cài đặt</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number">2</div>
                <div class="step-title">Người chơi</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number">3</div>
                <div class="step-title">Bàn đấu</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number active">4</div>
                <div class="step-title">Ảnh bìa</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number">5</div>
                <div class="step-title">Xếp trận</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number">6</div>
                <div class="step-title">Hoàn thành</div>
            </div>
        </div>

        <form class="create-tour-display col-lg-10" method="post" enctype="multipart/form-data" asp-controller="CreateTournament" asp-action="StepFourAddBanner">
            <div class="create-step-one">
                <div class="display-title">Thêm ảnh bìa</div>
                <div class="display-content">
                    <div class="tour-input">
                        <div class="input-title">
                            <span>Hãy tải ảnh có kích thước 3x2 để được hiển thị tốt nhất.</span>
                        </div>
                    </div>
                    <div class="upload-img ">

                        <input type="file" name="banner" class="imageInput mt-1" accept="image/*" />
                        <div class="upload-title d-flex justify-content-center align-items-center">
                            <div>
                                <div>
                                    <i class="fa-regular fa-image"></i>
                                </div>
                                <div>
                                    <p>Bấm vào đây để tải ảnh bìa.</p>
                                </div>
                            </div>
                        </div>
                        <div class="preview-image-bg m-0">
                            <img class="preview-image" />
                        </div>
                        <input id="file-name" class="d-none" />
                    </div>
                    <div class="tour-input">
                        <button class="submit-btn" type="submit">Lưu và chuyển sang bước 5</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    //Image validation
    const imgInput = document.querySelector('#file-name');


    document.querySelector('.imageInput').addEventListener('change', function (event) {
        const imageInput = event.target;
        const previewImage = document.querySelector('.preview-image');
        const selectedFileName = document.querySelector('#file-name');
        const uploadTile = document.querySelector('.upload-title');

        if (imageInput.files && imageInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                previewImage.src = e.target.result;
                previewImage.style.display = 'block';
                uploadTile.classList.add('d-none');
            };

            reader.readAsDataURL(imageInput.files[0]);
            selectedFileName.value = imageInput.files[0].name;
        }
    });
</script>