@{
    Layout = "~/Views/Shared/_CreateTournamentLayout.cshtml";
}

<div class="container-full">
    <div class="create-tour d-flex justify-content-end">
        <div class="row mx-0 col-lg-10">
            <div class="d-flex justify-content-center">
                <div class="tour-info">
                    <div class="overview-text d-flex justify-content-between" style="border-top: none;">
                        <span>Tổng quan</span>
                    </div>
                    <div class="tour-image d-flex justify-content-center">
                        <img src="/Image/news.jpg" alt="">
                    </div>
                    <div class="overview-text">
                        <span>Chi tiết</span>
                    </div>
                    <div class="tour-details px-5 py-4 row">
                        <div class="col-6">
                            <div class="info-line">
                                <div class="info-title">
                                    Tên giải đấu
                                </div>
                                <div class="info-description">
                                    Giải 9 ball hạng E.F.G.H Moon Club 3
                                </div>
                            </div>
                            <div class="info-line">
                                <div class="info-title">
                                    Loại trò chơi
                                </div>
                                <div class="info-description">
                                    9 ball
                                    <span>
                                        ( Xếp cao
                                        <span>/ Break box </span>
                                        )
                                    </span>
                                </div>
                            </div>
                            <div class="info-line">
                                <div class="info-title">
                                    Số người chơi
                                </div>
                                <div class="info-description">
                                    22/32
                                </div>
                            </div>
                            <div class="info-line">
                                <div class="info-title">
                                    Lệ phí tham gia
                                </div>
                                <div class="info-description">
                                    200.000 VNĐ
                                </div>
                            </div>
                            <div class="info-line">
                                <div class="info-title">
                                    Tổng giải thưởng
                                </div>
                                <div class="info-description">
                                    10.000.000 VNĐ
                                </div>
                            </div>
                            <div class="info-line">
                                <div class="info-title">
                                    Loại giải đấu
                                </div>
                                <div class="info-description">
                                    Đấu loại kép
                                </div>
                            </div>
                            <div class="info-line">
                                <div class="info-title">
                                    Phạm vi
                                </div>
                                <div class="info-description">
                                    Riêng tư
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="info-line">
                                <div class="info-title">
                                    Cuộc đua đến
                                </div>
                                <div class="info-description row d-flex justify-content-between">
                                    <div class="col-5">
                                        <div class="text-center">
                                            <b>Nhánh thắng</b>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>R1</span>
                                            <span>5</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>R2</span>
                                            <span>5</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>R3</span>
                                            <span>5</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>R4</span>
                                            <span>7</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>R5</span>
                                            <span>9</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>CK</span>
                                            <span>11</span>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="text-center">
                                            <b>Nhánh thua</b>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>R1</span>
                                            <span>5</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>R2</span>
                                            <span>5</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>R3</span>
                                            <span>5</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>R4</span>
                                            <span>5</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-line">
                                <div class="info-title">
                                    Ngày bắt đầu
                                </div>
                                <div class="info-description">
                                    24/02/2024
                                </div>
                            </div>
                            <div class="info-line">
                                <div class="info-title">
                                    Ngày kết thúc
                                </div>
                                <div class="info-description">
                                    25/02/2024
                                </div>
                            </div>
                            <div class="info-line">
                                <div class="info-title">
                                    Hạn đăng kí
                                </div>
                                <div class="info-description">
                                    24/02/2024
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="overview-text">
                        <span>Mở rộng</span>
                    </div>
                    <div class="tour-details px-5 py-4 row">
                        <div class="info-line">
                            <div class="info-description" style="font-size: 14px;">
                                Giải 9 ball hạng E.F.G.H Moon Club 3 dành cho thanh thiếu niên. Giải 9 ball hạng
                                E.F.G.H Moon Club 3 dành cho thanh thiếu niên.
                            </div>
                        </div>
                    </div>
                    <div class="overview-text">
                        <span>Địa điểm</span>
                    </div>
                    <div class="address-info px-5 py-4 d-flex align-items-center">
                        <a href="" class="address-icon">
                            <i class="fa-solid fa-map-location-dot"></i>
                        </a>
                        <div>
                            <div class="info-title">
                                Moon Club 3
                            </div>
                            <div class="info-description">
                                Ngõ 5, Cao Thắng, Hạ Long , Quảng Ninh, Việt Nam
                            </div>
                        </div>
                    </div>
                    <div class="overview-text">
                        <span>Xác nhận</span>
                    </div>
                    <div class="tour-details px-5 py-4 row">
                        <div class="info-line">
                            <div class="info-description" style="font-size: 16px; font-style: italic;">
                                Sau khi tạo giải đấu bạn vẫn có thể sửa đổi thông tin trước khi bắt đầu giải.
                            </div>
                            <button class="create-tour-btn">Tạo giải đấu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                        