@{
    Layout = "~/Views/Shared/_TournamentLayout.cshtml";
}

<div class="container-full">
    <div class="row mx-0">
        <div class="col-lg-6 d-flex justify-content-center">
            <div class="tour-info">
                <div class="overview-text d-flex justify-content-between" style="border-top: none;">
                    <span>Tổng quan</span>
                    <a href="" class="join-btn">Tham gia</a>
                    <!-- <a href="" class="join-btn isJoin">Hủy yêu cầu</a> -->
                </div>
                <div class="tour-image d-flex justify-content-center">
                    <img src="~/images/news.jpg" alt="">
                </div>
                <div class="overview-text">
                    <span>Chi tiết</span>
                </div>
                <div class="tour-details px-5 py-4 row">
                    <div class="col-6">
                        <div class="info-line">
                            <div class="info-title">
                                Tên giải đấu
                            </div>
                            <div class="info-description">
                                Giải 9 ball hạng E.F.G.H Moon Club 3
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="info-title">
                                Loại trò chơi
                            </div>
                            <div class="info-description">
                                9 ball
                                <span>
                                    ( Xếp cao
                                    <span>/ Break box </span>
                                    )
                                </span>
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="info-title">
                                Số người chơi
                            </div>
                            <div class="info-description">
                                22/32
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="info-title">
                                Lệ phí tham gia
                            </div>
                            <div class="info-description">
                                200.000 VNĐ
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="info-title">
                                Tổng giải thưởng
                            </div>
                            <div class="info-description">
                                10.000.000 VNĐ
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="info-title">
                                Loại giải đấu
                            </div>
                            <div class="info-description">
                                Đấu loại kép
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="info-title">
                                Phạm vi
                            </div>
                            <div class="info-description">
                                Riêng tư
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="info-line">
                            <div class="info-title">
                                Cuộc đua đến
                            </div>
                            <div class="info-description row d-flex justify-content-between">
                                <div class="col-5">
                                    <div class="text-center">
                                        <b>Nhánh thắng</b>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>R1</span>
                                        <span>5</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>R2</span>
                                        <span>5</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>R3</span>
                                        <span>5</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>R4</span>
                                        <span>7</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>R5</span>
                                        <span>9</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>CK</span>
                                        <span>11</span>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="text-center">
                                        <b>Nhánh thua</b>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>R1</span>
                                        <span>5</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>R2</span>
                                        <span>5</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>R3</span>
                                        <span>5</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>R4</span>
                                        <span>5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="info-title">
                                Ngày bắt đầu
                            </div>
                            <div class="info-description">
                                24/02/2024
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="info-title">
                                Ngày kết thúc
                            </div>
                            <div class="info-description">
                                25/02/2024
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="info-title">
                                Hạn đăng kí
                            </div>
                            <div class="info-description">
                                24/02/2024
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overview-text">
                    <span>Mở rộng</span>
                </div>
                <div class="tour-details px-5 py-4 row">
                    <div class="info-line">
                        <div class="info-description" style="font-size: 14px;">
                            Giải 9 ball hạng E.F.G.H Moon Club 3 dành cho thanh thiếu niên. Giải 9 ball hạng
                            E.F.G.H Moon Club 3 dành cho thanh thiếu niên.
                        </div>
                    </div>
                </div>
                <div class="overview-text">
                    <span>Địa điểm</span>
                </div>
                <div class="address-info px-5 py-4 d-flex align-items-center">
                    <a href="" class="address-icon">
                        <i class="fa-solid fa-map-location-dot"></i>
                    </a>
                    <div>
                        <div class="info-title">
                            Moon Club 3
                        </div>
                        <div class="info-description">
                            Ngõ 5, Cao Thắng, Hạ Long , Quảng Ninh, Việt Nam
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tour-podium col-lg-6">
            <div class="row mx-3 podium-content">
                <div class="col-4 px-0 d-flex align-items-end">
                    <div>
                        <div class="silver-medal d-flex align-items-end justify-content-center">
                            <img class="medal-img" src="~/images/silver_medal.png" alt="">
                        </div>
                        <div class="silver-podium mt-2 p-3 d-flex align-items-center justify-content-center ">
                            <!-- <img class="tour-flag" src="~/images/VietNamFlag.png" alt="">&nbsp; -->
                            <!-- <div class="text-center">Quảng Vũ</div> -->
                            <i class="fa-solid fa-question" style="font-size: 20px;"></i>
                        </div>
                    </div>
                </div>
                <div class=" col-4 px-0 d-flex align-items-end">
                    <div>
                        <div class="gold-medal d-flex align-items-end justify-content-center">
                            <img class="medal-img" src="~/images/gold_medal.png" alt="">
                        </div>
                        <div class="gold-podium mt-2 p-3 d-flex align-items-center justify-content-center ">
                            <!-- <img class="tour-flag" src="~/images/VietNamFlag.png" alt="">&nbsp; -->
                            <!-- <div class="text-center">Nam Vũ</div> -->
                            <i class="fa-solid fa-question" style="font-size: 20px;"></i>
                        </div>
                    </div>
                </div>
                <div class=" col-4 px-0 d-flex align-items-end">
                    <div>
                        <div class="bronze-medal d-flex align-items-end justify-content-center">
                            <img class="medal-img" src="~/images/bronze_medal.png" alt="">
                        </div>
                        <div class="bronze-podium mt-2 p-3 d-flex align-items-center justify-content-center ">
                            @*<img class="tour-flag" src="~/images/VietNamFlag.png" alt="">&nbsp;
                            <div class="text-center">Phạm Quốc Hưng</div> *@
                            <i class="fa-solid fa-question" style="font-size: 20px;"></i>
                        </div>
                    </div>
                </div>
                <div class="podium-bg"></div>
            </div>
            <!-- class isPlaying: hidden history-->
            <div class="overview-player isPlaying mx-3 p-4">
                <div class="player-position">Thứ hạng của tôi: #2</div>
                <table class="player-table ">
                    <tr>
                        <th colspan="2">Top</th>
                        <th>Cơ thủ</th>
                        <th>Lịch sử đấu</th>
                    </tr>
                    <tr>
                        <td class="player-cup">
                            <i class="fa-solid fa-trophy" style="color: #ffe600;"></i>
                        </td>
                        <td class="player-top">
                            1
                        </td>
                        <td class="player-name">Nam Vũ</td>
                        <td class="player-history">
                            <span class="history-match lose-match">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                            <span class="history-match win-match">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span class="history-match win-match">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span class="history-match win-match">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span class="history-match win-match">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span class="history-match win-match">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span class="history-match win-match">
                                <i class="fa-solid fa-check"></i>
                            </span>
                        </td>
                    </tr>
                    <tr class="">
                        <!-- <tr class="my-position"> -->
                        <td class="player-cup">
                            <i class="fa-solid fa-trophy" style="color: #bbb;"></i>
                        </td>
                        <td>2</td>
                        <td>Quảng Vũ</td>
                        <td>
                            <span class="history-match lose-match">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                            <span class="history-match lose-match">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="player-cup">
                            <i class="fa-solid fa-trophy" style="color: #f1a73f;"></i>
                        </td>
                        <td>3</td>
                        <td>Phạm Quốc Hưng</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="player-cup"></td>
                        <td>4</td>
                        <td>Phạm Quốc Hưng</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="player-cup"></td>
                        <td>5-8</td>
                        <td>Phạm Quốc Hưng</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="player-cup"></td>
                        <td>9-16</td>
                        <td>Phạm Quốc Hưng</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>