@{
    Layout = "~/Views/Shared/_TournamentLayout.cshtml";
}

<div class="container-full">
    <div class="match-list">
        <div class="round-name">Vòng 1</div>
        <div class="table-overflow">
            <table class="round-table">
                <tr>
                    <th class="text-center">#</th>
                    <th>Bàn</th>
                    <th colspan="7" class="text-center">Kết quả</th>
                    <th class="text-center">Chạm</th>
                    <th>Thời gian</th>
                    <th>Trạng thái</th>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-score text-center">5</td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-score text-center">5</td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                    <td class="match-status">Đang chơi</td>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-score text-center">5</td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-score text-center">5</td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                    <td class="match-status">Đang chơi</td>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-score text-center">5</td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-score text-center">5</td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                    <td class="match-status">Đang chơi</td>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-score text-center">5</td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-score text-center">5</td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                    <td class="match-status">Đang chơi</td>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-score text-center">5</td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-score text-center">5</td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                    <td class="match-status">Đang chơi</td>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-score text-center">5</td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-score text-center">5</td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                    <td class="match-status">Đang chơi</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="match-list">
        <div class="round-name">Vòng 1</div>
        <div class="table-overflow">
            <table class="round-table">
                <tr>
                    <th class="text-center">#</th>
                    <th>Bàn</th>
                    <th colspan="7" class="text-center">Kết quả</th>
                    <th class="text-center">Chạm</th>
                    <th>Thời gian</th>
                    <th>Trạng thái</th>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-score text-center">5</td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-score text-center">5</td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                    <td class="match-status">Đang chơi</td>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-score text-center">5</td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-score text-center">5</td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                    <td class="match-status">Đang chơi</td>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-score text-center">5</td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-score text-center">5</td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                    <td class="match-status">Đang chơi</td>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-score text-center">5</td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-score text-center">5</td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                    <td class="match-status">Đang chơi</td>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-score text-center">5</td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-score text-center">5</td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                    <td class="match-status">Đang chơi</td>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-score text-center">5</td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-score text-center">5</td>
                    <td>
                        <img src="~/images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                    <td class="match-status">Đang chơi</td>
                </tr>
            </table>
        </div>
    </div>
</div>