@{
    Layout = "~/Views/Shared/_TournamentLayout.cshtml";
    int tourId = ViewBag.TourId;
    int maxNumberOfTournament = ViewBag.MaxNumberOfTournament;
    int knockOutNumber = ViewBag.KnockOutNumber;
}
<div class="numberOfPlayer d-none">@maxNumberOfTournament</div>
<div class="knockOutNumber d-none">@knockOutNumber</div>
<div class="tourId d-none">@tourId</div>
<div class="container-bracket">
    <div class="bracket-tab">
        <div class="bracket-content d-flex">
            <div id="loser-match-body"></div>
            <div id="winer-match-body"></div>
        </div>
    </div>
    <div class="zoom-btns">
        <div class="screen-size">
            <button class="zoom-in" onclick="fullScreen()">
                <i class="fa-solid fa-expand"></i>
            </button>
        </div>
        <div>
            <button id="zoom-in" class="zoom-in" onclick="zoomIn()">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
        <div>
            <button id="zoom-out" class="zoom-out" onclick="zoomOut()">
                <i class="fa-solid fa-minus"></i>
            </button>
        </div>
    </div>
</div>

<div class="match-display d-flex justify-content-center align-items-center d-none">
    <div class="match-detail">
        <div class="match-header d-flex justify-content-between">
            <div class="match-title">
                <span>Nam Vu</span>
                <span> vs. </span>
                <span>Vu Nam</span>
            </div>
            <div class="match-close">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="match-time">
                <span>13:20</span>
                <span> - 14:20</span>
                <span>22/02/2024</span>
            </div>
            <div class="match-complete">Đã xong</div>
        </div>
        <div class="details-body">
            <div class="details-score">
                <div class="details-player d-flex justify-content-between">
                    <span class="d-flex align-items-center">
                        <img src="/images/VietNamFlag.png" alt="">
                        <span class="px-2">Nam Vũ</span>
                    </span>
                    <span>6</span>
                </div>
                <div class="details-player d-flex justify-content-between pt-2">
                    <span class="d-flex align-items-center">
                        <img src="/images/VietNamFlag.png" alt="">
                        <span class="px-2">Quảng Vũ</span>
                    </span>
                    <span>3</span>
                </div>
            </div>
            <div class="score-board d-flex align-items-end ">
                <div class="name-board">
                    <div class="board-line"><span>Nam Vũ</span></div>
                    <div><span>Quảng Vũ</span></div>
                </div>
                <div class="general-score">
                    <div class="board-line px-2"><span>Điểm</span></div>
                    <div class="text-center board-line"><span>6</span></div>
                    <div class="text-center"><span>3</span></div>
                </div>
                <div class="detail-score">
                    <div class="round-score board-line"><span>1</span></div>
                    <div class="board-line"><span><i class="fa-solid fa-xmark"></i></span></div>
                    <div><span>&nbsp;</span></div>
                </div>
                <div class="detail-score">
                    <div class="round-score board-line"><span>2</span></div>
                    <div class="board-line"><span>&nbsp;</span></div>
                    <div><span><i class="fa-solid fa-xmark"></i></span></div>
                </div>
                <div class="detail-score">
                    <div class="round-score board-line"><span>3</span></div>
                    <div class="board-line"><span><i class="fa-solid fa-xmark"></i></span></div>
                    <div><span>&nbsp;</span></div>
                </div>
                <div class="detail-score">
                    <div class="round-score board-line"><span>4</span></div>
                    <div class="board-line"><span><i class="fa-solid fa-xmark"></i></span></div>
                    <div><span>&nbsp;</span></div>
                </div>
                <div class="detail-score">
                    <div class="round-score board-line"><span>5</span></div>
                    <div class="board-line"><span>&nbsp;</span></div>
                    <div><span><i class="fa-solid fa-xmark"></i></span></div>
                </div>
                <div class="detail-score">
                    <div class="round-score board-line"><span>6</span></div>
                    <div class="board-line"><span><i class="fa-solid fa-xmark"></i></span></div>
                    <div><span>&nbsp;</span></div>
                </div>
                <div class="detail-score">
                    <div class="round-score board-line"><span>7</span></div>
                    <div class="board-line"><span><i class="fa-solid fa-xmark"></i></span></div>
                    <div><span>&nbsp;</span></div>
                </div>
                <div class="detail-score">
                    <div class="round-score board-line"><span>8</span></div>
                    <div class="board-line"><span>&nbsp;</span></div>
                    <div><span><i class="fa-solid fa-xmark"></i></span></div>
                </div>
                <div class="detail-score">
                    <div class="round-score board-line"><span>9</span></div>
                    <div class="board-line"><span><i class="fa-solid fa-xmark"></i></span></div>
                    <div><span>&nbsp;</span></div>
                </div>
                <div class="detail-score">
                    <div class="round-score board-line"><span>10</span></div>
                    <div class="board-line"><span>&nbsp;</i></span></div>
                    <div><span>&nbsp;</span></div>
                </div>
            </div>
            <div class="details-next d-flex justify-content-around">
                <div class="lose-next row">
                    <div class="col-4">
                        <i class="fa-solid fa-angles-left"></i>
                    </div>
                    <div class="text-center col-8" onclick="scrollToElement(32)">Thua</div>
                </div>
                <div class="win-next row">
                    <div class="text-center col-8" onclick="scrollToElement(52)">Thắng</div>
                    <div class="col-4">
                        <i class="fa-solid fa-angles-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>


<script>
    var playerNumber = $(".numberOfPlayer").text().trim();
    var finalSinglePlayer = $(".knockOutNumber").text().trim();
    const winMatchBody = document.getElementById('winer-match-body');
    var width = 250;
    var height = 60;
    var matchDistance = 30;
    var leftRightSpace = 100;
    let numberMatchEachRound = 0;
    let count = 0;
    var winBody = '';

    let roundNumber = Math.log2(playerNumber / 2);
    let finalSingleRound = roundNumber - Math.log2(finalSinglePlayer) + 1;

    console.log('playerNumber:', playerNumber);
    console.log('finalSinglePlayer:', finalSinglePlayer);
    for (i = 0; i <= finalSingleRound; i++) {
        numberMatchEachRound = 2 ** (roundNumber - i);
        for (j = 0; j < numberMatchEachRound; j++) {
            if (i == 0) {
                ++count;
                winBody += '<div class="match-box have-data" id="match' + count + '" style=" top:' + (j * 2 * height) + 'px;width: ' + width + 'px; height: ' + height + 'px;">'
                    + '<div class="match-content row">'
                    + '<div class="match-number col-2 p-0 text-center">'
                    + count
                    + '</div>'
                    + '<div class="player-match col-8">'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '<img src=""/>'
                    + '<!-- 15 char -->'
                    + '<div class="player1-name"></div>'
                    + '<div class="player1-id d-none"></div>'
                    + '</div>'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '<img src=""/>'
                    + '<!-- 15 char -->'
                    + '<div class="player2-name"></div>'
                    + '<div class="player2-id d-none"></div>'
                    + '</div>'
                    + '</div>'
                    + '<div class="col-2">'
                    + '<div class="match-score player1-score"></div>'
                    + '<div class="match-score player2-score"></div>'
                    + '</div>'
                    + '<div class="match-table">Table <span class="table-number"></span></div>'
                    + '<div class="match-raceTo">Race to <span class="raceTo-number"></span></div>'
                    + '<div class="next-match d-flex">'
                    + '<div class="next-win">W: <span class="win-match-number"></span>,</div>'
                    + '<div class="next-lose">L: <span class="lose-match-number"></span></div>'
                    + '</div>'
                    + '</div>'
                    + '</div>'
            } else {
                ++count;
                winBody +=
                    '<div class="line" style="top: ' + (height * (((2 ** i - 1) / 2) + (2 ** (i + 1) * j))) + 'px; left:' + (width * i + matchDistance * (i - 1)) + 'px">'
                    + '<div class="left-line-win" style="width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height) + 'px;"></div>'
                    + '<div class="right-line-win" style="width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height / 2) + 'px;"></div>'
                    + '</div>'
                    + '<div class="match-box" id="match' + count + '" style="top:' + (height * ((2 ** i - 1) + 2 ** (i + 1) * j)) + 'px; left: ' + ((matchDistance + width) * i) + 'px;width: ' + width + 'px; height: ' + height + 'px;">'
                    + '<div class="match-content row">'
                    + '<div class="match-number col-2 p-0 text-center">'
                    + count
                    + '</div>'
                    + '<div class="player-match col-8">'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '<img src=""/>'
                    + '<!-- 15 char -->'
                    + '<div class="player1-name"></div>'
                    + '<div class="player1-id d-none"></div>'
                    + '</div>'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '<img src=""/>'
                    + '<!-- 15 char -->'
                    + '<div class="player2-name"></div>'
                    + '<div class="player2-id d-none"></div>'
                    + '</div>'
                    + '</div>'
                    + '<div class="col-2">'
                    + '<div class="match-score player1-score"></div>'
                    + '<div class="match-score player2-score"></div>'
                    + '</div>'
                    + '<div class="match-table">Table <span class="table-number"></span></div>'
                    + '<div class="match-raceTo">Race to <span class="raceTo-number"></span></div>'
                    + '<div class="next-match d-flex">'
                    + '<div class="next-win">W: <span class="win-match-number"></span>,</div>'
                    + '<div class="next-lose">L: <span class="lose-match-number"></span></div>'
                    + '</div>'
                    + '</div>'
                    + '</div>'
            }
        }
    }

    const loseMatchBody = document.getElementById('loser-match-body');
    var loseBody = '';
    for (i = 1; i <= finalSingleRound; i++) {
        numberMatchEachRound = 2 ** (roundNumber - i);
        for (j = 0; j < numberMatchEachRound; j++) {
            ++count;
            loseBody +=
                '<div class="line" style="top: ' + (height * (((2 ** i - 1) / 2) + (2 ** (i + 1) * j))) + 'px; right:' + ((i - 1) * (1.5 * matchDistance + 2 * width)) + 'px">'
                + '<div class="left-line-lose" style="width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height / 2) + 'px;"></div>'
                + '<div class="right-line-lose" style="width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height) + 'px;"></div>'
                + '</div>'
                + '<div class="match-box" id="match' + count + '" style="top:' + (height * ((2 ** i - 1) + 2 ** (i + 1) * j)) + 'px; right: ' + ((1.5 * i - 0.5) * matchDistance + 2 * (i - 1) * width) + 'px;width: ' + width + 'px; height: ' + height + 'px;">'
                + '<div class="match-content row">'
                + '<div class="match-number col-2 p-0 text-center">'
                + count
                + '</div>'
                + '<div class="player-match col-8">'
                + '<div class="d-flex justify-content-start align-items-center">'
                + '<img src=""/>'
                + '<!-- 15 char -->'
                + '<div class="player1-name"></div>'
                + '<div class="player1-id d-none"></div>'
                + '</div>'
                + '<div class="d-flex justify-content-start align-items-center">'
                + '<img src=""/>'
                + '<!-- 15 char -->'
                + '<div class="player2-name"></div>'
                + '<div class="player2-id d-none"></div>'
                + '</div>'
                + '</div>'
                + '<div class="col-2">'
                + '<div class="match-score player1-score"></div>'
                + '<div class="match-score player2-score"></div>'
                + '</div>'
                + '<div class="match-table">Table <span class="table-number"></span></div>'
                + '<div class="match-raceTo">Race to <span class="raceTo-number"></span></div>'
                + '<div class="next-match d-flex">'
                + '<div class="next-win">W: <span class="win-match-number"></span>,</div>'
                + '<div class="next-lose">L: <span class="lose-match-number"></span></div>'
                + '</div>'
                + '</div>'
                + '</div>'
        }
        for (j = 0; j < numberMatchEachRound; j++) {
            ++count;
            loseBody +=
                '<div class="between-line" style="top: ' + (height * (((2 ** i - 1) / 2) + (2 ** (i + 1) * j))) + 'px; right:' + ((1.5 * i - 0.5) * matchDistance + (2 * i - 1) * width) + 'px; width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height / 2) + 'px;"></div>'
                + '<div class="match-box" id="match' + count + '" style="top: ' + (height * ((2 ** i - 1) + 2 ** (i + 1) * j)) + 'px; right: ' + ((matchDistance * 1.5 * i + width * (2 * i - 1))) + 'px;width: ' + width + 'px; height: ' + height + 'px;">'
                + '<div class="match-content row">'
                + '<div class="match-number col-2 p-0 text-center">'
                + count
                + '</div>'
                + '<div class="player-match col-8">'
                + '<div class="d-flex justify-content-start align-items-center">'
                + '<img src=""/>'
                + '<!-- 15 char -->'
                + '<div class="player1-name"></div>'
                + '<div class="player1-id d-none"></div>'
                + '</div>'
                + '<div class="d-flex justify-content-start align-items-center">'
                + '<img src=""/>'
                + '<!-- 15 char -->'
                + '<div class="player2-name"></div>'
                + '<div class="player2-id d-none"></div>'
                + '</div>'
                + '</div>'
                + '<div class="col-2">'
                + '<div class="match-score player1-score"></div>'
                + '<div class="match-score player2-score"></div>'
                + '</div>'
                + '<div class="match-table">Table <span class="table-number"></span></div>'
                + '<div class="match-raceTo">Race to <span class="raceTo-number"></span></div>'
                + '<div class="next-match d-flex">'
                + '<div class="next-win">W: <span class="win-match-number"></span>,</div>'
                + '<div class="next-lose">L: <span class="lose-match-number"></span></div>'
                + '</div>'
                + '</div>'
                + '</div>'
        }
    }
    loseMatchBody.innerHTML = loseBody;

    for (i = finalSingleRound; i <= roundNumber; i++) {
        numberMatchEachRound = 2 ** (roundNumber - i);
        if (i === finalSingleRound) {
            for (j = 0; j < numberMatchEachRound; j++) {
                ++count;
                winBody +=
                    '<div class="line" style="top: ' + (height * (((2 ** i - 1) / 2) + (2 ** (i + 1) * j))) + 'px; left:' + (width * (i + 1) + matchDistance * i) + 'px">'
                    + '<div class="right-line-win" style="width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height / 2) + 'px;"></div>'
                    + '</div>'
                    + '<div class="match-box" id="match' + count + '" style="top:' + (height * ((2 ** i - 1) + 2 ** (i + 1) * j)) + 'px; left: ' + (matchDistance * (i + 0.5) + width * (i + 1)) + 'px;width: ' + width + 'px; height: ' + height + 'px;">'
                    + '<div class="match-content row">'
                    + '<div class="match-number col-2 p-0 text-center">'
                    + count
                    + '</div>'
                    + '<div class="player-match col-8">'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '<img src=""/>'
                    + '<!-- 15 char -->'
                    + '<div class="player1-name"></div>'
                    + '<div class="player1-id d-none"></div>'
                    + '</div>'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '<img src=""/>'
                    + '<!-- 15 char -->'
                    + '<div class="player2-name"></div>'
                    + '<div class="player2-id d-none"></div>'
                    + '</div>'
                    + '</div>'
                    + '<div class="col-2">'
                    + '<div class="match-score player1-score"></div>'
                    + '<div class="match-score player2-score"></div>'
                    + '</div>'
                    + '<div class="match-table">Table <span class="table-number"></span></div>'
                    + '<div class="match-raceTo">Race to <span class="raceTo-number"></span></div>'
                    + '<div class="next-match d-flex">'
                    + '<div class="next-win">W: <span class="win-match-number"></span>,</div>'
                    + '<div class="next-lose">L: <span class="lose-match-number"></span></div>'
                    + '</div>'
                    + '</div>'
                    + '</div>'
            }
        } else {
            for (j = 0; j < numberMatchEachRound; j++) {
                ++count;
                winBody +=
                    '<div class="line" style="top: ' + (height * (((2 ** i - 1) / 2) + (2 ** (i + 1) * j))) + 'px; left:' + (width * (i + 1) + matchDistance * (i - 0.5)) + 'px">'
                    + '<div class="left-line-win" style="width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height) + 'px;"></div>'
                    + '<div class="right-line-win" style="width: ' + matchDistance / 2 + 'px; height: ' + ((2 ** i) * height / 2) + 'px;"></div>'
                    + '</div>'
                    + '<div class="match-box" id="match' + count + '" style="top:' + (height * ((2 ** i - 1) + 2 ** (i + 1) * j)) + 'px; left: ' + (matchDistance * (i + 0.5) + width * (i + 1)) + 'px;width: ' + width + 'px; height: ' + height + 'px;">'
                    + '<div class="match-content row">'
                    + '<div class="match-number col-2 p-0 text-center">'
                    + count
                    + '</div>'
                    + '<div class="player-match col-8">'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '<img src=""/>'
                    + '<!-- 15 char -->'
                    + '<div class="player1-name"></div>'
                    + '<div class="player1-id d-none"></div>'
                    + '</div>'
                    + '<div class="d-flex justify-content-start align-items-center">'
                    + '<img src=""/>'
                    + '<!-- 15 char -->'
                    + '<div class="player2-name"></div>'
                    + '<div class="player2-id d-none"></div>'
                    + '</div>'
                    + '</div>'
                    + '<div class="col-2">'
                    + '<div class="match-score player1-score"></div>'
                    + '<div class="match-score player2-score"></div>'
                    + '</div>'
                    + '<div class="match-table">Table <span class="table-number"></span></div>'
                    + '<div class="match-raceTo">Race to <span class="raceTo-number"></span></div>'
                    + '<div class="next-match d-flex">'
                    + '<div class="next-win">W: <span class="win-match-number"></span>,</div>'
                    + '<div class="next-lose">L: <span class="lose-match-number"></span></div>'
                    + '</div>'
                    + '</div>'
                    + '</div>'
            }
        }
    }

    winMatchBody.innerHTML = winBody;
    const lastMatchHeight = document.getElementById('match' + playerNumber / 2);
    window.addEventListener('load', centerPosition);

    getData(tourId);

    let currentZoom = 0.5;

    let winerWidth;
    let loserWidth;

    const bracketContent = document.querySelector('.bracket-content');
    const bracketTab = document.querySelector('.bracket-tab');
    const zoomInBtn = document.getElementById('zoom-in');
    const zoomOutBtn = document.getElementById('zoom-out');

    zoomInBtn.addEventListener('click', zoomIn);
    zoomOutBtn.addEventListener('click', zoomOut);

    zoomInBtn.removeEventListener
    applyZoom();
    bindingData();


    const header = document.querySelector('header');
    const body = document.querySelector('body');
    const screenSize = document.querySelector('.screen-size');
    const playersHeader = document.querySelector('.players-header');
    const systemRandom = document.querySelector('.system-random');
    const randomBtnGroup = document.querySelector('.random-btn-group');
    var fullScreenBtn = document.getElementById('full-screen');
    var miniScreenBtn;

    if (fullScreenBtn !== null) {
        fullScreenBtn.addEventListener('click', fullScreen);
    }


    function centerPosition() {
        bracketTab.scrollLeft = loseMatchBody.offsetWidth - window.innerWidth / 2 + 200;
    }

    function zoomIn() {
        if (currentZoom <= 1.5) {
            currentZoom += 0.1;
            applyZoom();
            zoomOutBtn.style.opacity = '1';
            zoomOutBtn.classList.remove('no-hover');
        } else {
            zoomInBtn.style.opacity = '0.3';
            zoomInBtn.classList.add('no-hover');
        }
    }

    function zoomOut() {
        if (currentZoom >= 0.2) {
            currentZoom -= 0.1;
            applyZoom();
            zoomInBtn.style.opacity = '1';
            zoomInBtn.classList.remove('no-hover');
        } else {
            zoomOutBtn.style.opacity = '0.3';
            zoomOutBtn.classList.add('no-hover');
        }
    }

    function applyZoom() {
        winerWidth = ((roundNumber + 2) * width + (roundNumber + 0.5) * matchDistance) * currentZoom + leftRightSpace;
        loserWidth = (finalSingleRound * (2 * width + 1.5 * matchDistance)) * currentZoom + leftRightSpace;
        winMatchBody.style.width = winerWidth + 'px';
        loseMatchBody.style.width = loserWidth + 'px';
        bracketContent.style.transform = `scale(${currentZoom})`;
        centerPosition();
    }

    function fullScreen() {
        systemRandom.classList.add('full-screen');
        screenSize.innerHTML = '<button id="mini-screen" class="zoom-in">'
            + '<i class="fa-solid fa-compress"></i>'
            + '</button>';
        miniScreenBtn = document.getElementById('mini-screen');
        miniScreenBtn.addEventListener('click', minimized);

        if (body.requestFullscreen) {
            body.requestFullscreen();
        } else if (body.webkitRequestFullscreen) { /* Safari */
            body.webkitRequestFullscreen();
        } else if (body.msRequestFullscreen) { /* IE11 */
            body.msRequestFullscreen();
        }

        header.classList.add('d-none');
        playersHeader.classList.add('d-none');
        randomBtnGroup.classList.add('d-none');
    }

    function minimized() {
        systemRandom.classList.remove('full-screen');
        screenSize.innerHTML = '<button id="full-screen" class="zoom-in">'
            + '<i class="fa-solid fa-expand"></i>'
            + '</button>';
        fullScreenBtn = document.getElementById('full-screen');
        fullScreenBtn.addEventListener('click', fullScreen);

        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.webkitExitFullscreen) { /* Safari */
            document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) { /* IE11 */
            document.msExitFullscreen();
        }

        header.classList.remove('d-none');
        playersHeader.classList.remove('d-none');
        randomBtnGroup.classList.remove('d-none');
    }

    function bindingData() {
        var touId = $(".tourId").text().trim();
        $.ajax({
            url: 'https://localhost:5000/api/MatchOfTour/GetMatchForBracket',
            method: 'GET',
            data: { tourId: tourId },
            success: function (data) {
                var matches = data;
                matches.forEach(function (match) {
                    var matchNumber = match.matchNumber;
                    var matchBox = $('#match' + matchNumber); // Tìm thẻ match-box có ID tương ứng với matchNumber


                    var player1Element = matchBox.find('.player-1').first();

                    // Kiểm tra nếu phần tử tồn tại
                    if (player1Element.length > 0) {
                        var playerNameElement = player1Element.find('.player-name');
                        var playerName = match.p1Name;
                        playerNameElement.text(playerName);

                        var countryImageElement = player1Element.find('img');
                        var countryImage = match.p1Country;
                        countryImageElement.attr('src', countryImage);

                        var playerIdElement = player1Element.find('.player-id');
                        var playerId = match.p1Id;
                        playerIdElement.text(playerId);
                    } else {
                        console.log('Không tìm thấy phần tử player-1 trong .matchbox');
                    }

                    var player2Element = matchBox.find('.player-2').first();

                    // Kiểm tra nếu phần tử tồn tại
                    if (player2Element.length > 0) {
                        var playerNameElement = player2Element.find('.player-name');
                        var playerName = match.p2Name;
                        playerNameElement.text(playerName);

                        var countryImageElement = player2Element.find('img');
                        var countryImage = match.p2Country;
                        countryImageElement.attr('src', countryImage);

                        var playerIdElement = player2Element.find('.player-id');
                        var playerId = match.p2Id;
                        playerIdElement.text(playerId);
                    } else {
                        console.log('Không tìm thấy phần tử player-2 trong .matchbox');
                    }
                });
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error:', errorThrown);
            }
        });
    }

    //close popup
    const popup = document.querySelector('.match-close');
    popup.addEventListener('click', () => {
        matchDisplay.classList.add('d-none');
    })

    //open popup
    const matchBoxList = document.querySelectorAll('.match-box');
    matchBoxList.forEach(element => {
        element.addEventListener('click', () => {
            matchDisplay.classList.remove('d-none');
        })
    });

</script>