@{
    Layout = "~/Views/Shared/_TournamentLayout.cshtml";
}

<div class="container-full">
    <div class="tour-players">
        <div class="players-header">
            Người chơi
        </div>
        <div class="table-overflow">
            <table class="players-table">
                <tr>
                    <th class="text-center">#</th>
                    <th>Tên</th>
                    <th>Quốc gia</th>
                    <th>Xếp hạng</th>
                    <th>Lịch sử đấu</th>
                    <th class="text-center">Trận (thắng-thua)</th>
                    <th class="text-center">Trận thắng %</th>
                    <th class="text-center">Ván (thắng-thua)</th>
                    <th class="text-center">Ván thắng %</th>
                    <th class="text-center">Chuỗi ván thắng</th>
                </tr>
                <tr>
                    <td class="tb-stt">1</td>
                    <td class="tb-name">
                        <img src="~/images/VietNamFlag.png" alt="">
                        Nam Vũ
                    </td>
                    <td class="tb-country">Việt Nam</td>
                    <td class="tb-rank"><i class="fa-solid fa-trophy" style="color: #ffe600;"></i>1</td>
                    <td class="tb-history">
                        <span class="history-match lose-match">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                    </td>
                    <td class="tb-match">4-1</td>
                    <td class="tb-match-pct">
                        <div class="percent-number text-center">40%</div>
                        <div class="total">
                            <div class="percent" style="width: 40px;"></div>
                        </div>
                    </td>
                    <td class="tb-game">20-8</td>
                    <td class="tb-game-pct">
                        <div class="percent-number text-center">60%</div>
                        <div class="total">
                            <div class="percent" style="width: 60px;"></div>
                        </div>
                    </td>
                    <td class="tb-max-game">5</td>
                </tr>
                <tr>
                    <td class="tb-stt">1</td>
                    <td class="tb-name">
                        <img src="~/images/VietNamFlag.png" alt="">
                        Nam Vũ
                    </td>
                    <td class="tb-country">Việt Nam</td>
                    <td class="tb-rank"><i class="fa-solid fa-trophy" style="color: #ebe6e6;"></i>2</td>
                    <td class="tb-history">
                        <span class="history-match lose-match">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                    </td>
                    <td class="tb-match">4-1</td>
                    <td class="tb-match-pct">
                        <div class="percent-number text-center">100%</div>
                        <div class="total">
                            <div class="percent" style="width: 100px;"></div>
                        </div>
                    </td>
                    <td class="tb-game">20-8</td>
                    <td class="tb-game-pct">
                        <div class="percent-number text-center">0%</div>
                        <div class="total">
                            <div class="percent" style="width: 0px;"></div>
                        </div>
                    </td>
                    <td class="tb-max-game">5</td>
                </tr>
                <tr>
                    <td class="tb-stt">1</td>
                    <td class="tb-name">
                        <img src="~/images/VietNamFlag.png" alt="">
                        Nam Vũ
                    </td>
                    <td class="tb-country">Việt Nam</td>
                    <td class="tb-rank"><i class="fa-solid fa-trophy" style="color: #ea8902;"></i>3</td>
                    <td class="tb-history">
                        <span class="history-match lose-match">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                    </td>
                    <td class="tb-match">4-1</td>
                    <td class="tb-match-pct">
                        <div class="percent-number text-center">100%</div>
                        <div class="total">
                            <div class="percent" style="width: 100px;"></div>
                        </div>
                    </td>
                    <td class="tb-game">20-8</td>
                    <td class="tb-game-pct">
                        <div class="percent-number text-center">0%</div>
                        <div class="total">
                            <div class="percent" style="width: 0px;"></div>
                        </div>
                    </td>
                    <td class="tb-max-game">5</td>
                </tr>
                <tr>
                    <td class="tb-stt">1</td>
                    <td class="tb-name">
                        <img src="~/images/PhilipoinesFlag.png" alt="">
                        Nam Vũ
                    </td>
                    <td class="tb-country">Philipines</td>
                    <td class="tb-rank">4</td>
                    <td class="tb-history">
                        <span class="history-match lose-match">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="history-match win-match">
                            <i class="fa-solid fa-check"></i>
                        </span>
                    </td>
                    <td class="tb-match">4-1</td>
                    <td class="tb-match-pct">
                        <div class="percent-number text-center">100%</div>
                        <div class="total">
                            <div class="percent" style="width: 100px;"></div>
                        </div>
                    </td>
                    <td class="tb-game">20-8</td>
                    <td class="tb-game-pct">
                        <div class="percent-number text-center">0%</div>
                        <div class="total">
                            <div class="percent" style="width: 0px;"></div>
                        </div>
                    </td>
                    <td class="tb-max-game">5</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="player-history d-none justify-content-center align-items-center">
    <div class="history-body">
        <div class="history-header d-flex justify-content-between">
            <div class="history-title">
                <span>Nam Vu</span>
            </div>
            <div class="history-close">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="history-content">
            <div class="history-line">
                <div class="match-number">Trận 32</div>
                <div class="history-score">
                    <div class="player win">
                        <div>
                            <img src="~/images/VietNamFlag.png">
                            <span>Nam Vũ</span>
                        </div>
                        <span>7</span>
                    </div>
                    <div class="player">
                        <div>
                            <img src="~/images/VietNamFlag.png">
                            <span>Vũ Đoàn Nam Thư</span>
                        </div>
                        <span>6</span>
                    </div>
                </div>
            </div>
            <div class="history-line">
                <div class="match-number">Trận 32</div>
                <div class="history-score">
                    <div class="player lose">
                        <div>
                            <img src="~/images/VietNamFlag.png">
                            <span>Nam Vũ</span>
                        </div>
                        <span>6</span>
                    </div>
                    <div class="player">
                        <div>
                            <img src="~/images/VietNamFlag.png">
                            <span>Vũ Đoàn Nam Thư</span>
                        </div>
                        <span>7</span>
                    </div>
                </div>
            </div>
            <div class="history-line">
                <div class="match-number">Trận 32</div>
                <div class="history-score">
                    <div class="player lose">
                        <div>
                            <img src="~/images/VietNamFlag.png">
                            <span>Nam Vũ</span>
                        </div>
                        <span>6</span>
                    </div>
                    <div class="player">
                        <div>
                            <img src="~/images/VietNamFlag.png">
                            <span>Vũ Đoàn Nam Thư</span>
                        </div>
                        <span>7</span>
                    </div>
                </div>
            </div>
            <div class="history-line">
                <div class="match-number">Trận 32</div>
                <div class="history-score">
                    <div class="player win">
                        <div>
                            <img src="~/images/VietNamFlag.png">
                            <span>Nam Vũ</span>
                        </div>
                        <span>7</span>
                    </div>
                    <div class="player">
                        <div>
                            <img src="~/images/VietNamFlag.png">
                            <span>Vũ Đoàn Nam Thư</span>
                        </div>
                        <span>6</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Handle close button
    const playerHistoryDisplay = document.querySelector('.player-history');
    const closeBtn = document.querySelector('.history-close');

    closeBtn.addEventListener('click', () => {
        playerHistoryDisplay.classList.remove('d-flex');
        playerHistoryDisplay.classList.add('d-none');
    })

    //Handle click row
    const rowList = document.querySelector('.players-table')
        .querySelectorAll('tr');

    rowList.forEach((row) => {
        row.addEventListener('click', () => {
            playerHistoryDisplay.classList.add('d-flex');
            playerHistoryDisplay.classList.remove('d-none');
        })
    })
</script>