* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main-background {
    background: linear-gradient(90deg, #346585, #47BC9A, #346585);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav {
    background: linear-gradient(#000000 0%, #00000077 75%, #00000000 100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 20px;
    transition: top 1s;
}

.logo-image a {
    color: white;
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
}

    .logo-image a img {
        width: 80px;
        height: 80px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

.nav-menu {
    margin: 0;
    list-style: none;
    display: flex;
    line-height: 80px;
}

    .nav-menu li {
        display: flex;
        justify-content: center;
        width: 100px;
    }

    .nav-menu a {
        line-height: 80px;
        color: #fff;
        transition: transform 0.5s;
        transition: line-height 0.3s ease;
    }

nav .login a,
nav .large-user .user-name,
nav .large-user .user-menu li {
    line-height: 80px;
    color: #fff;
    font-size: 16px;
    font-style: italic;
    font-weight: 800px;
}

nav .large-user {
    position: relative;
    line-height: 80px;
}

    nav .large-user .user-name {
        width: 100%;
    }

    nav .large-user .user-menu {
        display: none;
        position: absolute;
        z-index: 98;
        list-style: none;
        padding: 0;
        margin: 0;
    }

.small-user {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 98;
    padding: 100px;
    display: none;
}

nav .fa-bars {
    font-size: 48px;
    color: #fff;
    padding: 0 20px;
}

.small-user .option-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(#000000 50%, #0b08318d 95%, #34658500 100%);
    padding: 100px;
    margin: 0;
}

    .small-user .option-menu .option-items {
        list-style: none;
    }

    .small-user .option-menu li {
        padding: 20px;
    }

    .small-user .option-menu a {
        font-size: 20px;
        color: #fff;
        font-weight: 500;
    }



/* Home page */
.news-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
    height: 100vh;
    position: relative;
    z-index: 10;
}

    .news-header .news-description {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-weight: 500;
        font-size: 28px;
        text-transform: uppercase;
        color: white;
        text-align: center;
        padding: 25px 10%;
        background: linear-gradient(#0f020200 30%, #000000);
    }

.container {
    padding: 50px 2%;
    z-index: 2;
    position: relative;
}

    .container .news-item {
        padding: 20px;
        text-align: center;
        position: relative;
    }

    .container .news-date {
        position: absolute;
        top: 20px;
        left: 20px;
        height: 28px;
        width: 100px;
        background-color: rgb(0, 255, 204);
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        color: #0b0831;
        font-weight: 400;
        z-index: 2;
        text-align: center;
    }

    .container .news-image {
        overflow: hidden;
        border-radius: 20px;
    }

    .container .news-item img {
        display: block;
        width: 100%;
        transition: transform 0.3s;
    }

        .container .news-item img:hover {
            transform: scale(1.1);
        }

    .container .news-items .news-title {
        color: white;
        padding: 10px;
    }

.latest-new {
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 20px 0;
    font-style: italic;
    font-weight: 900;
}

.news-load {
    width: 400px;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: rgb(79, 111, 111);
    font-style: italic;
    transition: color 0.3s, font-weight 0.3s;
}

    .news-load:hover {
        color: rgb(222, 222, 222);
        font-weight: 900;
    }

footer {
    position: relative;
    border-top: rgb(163, 163, 163) solid 1px;
    display: block;
    margin-top: 50px;
    z-index: 2;
    margin: 50px 10%;
}

.footer-logo {
    font-size: 48px;
    font-weight: 700;
    color: rgb(222, 222, 222);
}

.footer-menu {
    list-style: none;
}

    .footer-menu li {
        padding: 10px 0;
    }

        .footer-menu li a {
            color: rgb(222, 222, 222);
            font-size: 18px;
        }

        .footer-menu li:hover a {
            color: white;
        }

.footer-contact {
    padding: 0;
}

    .footer-contact li {
        padding: 10px 0;
        color: rgb(222, 222, 222);
        font-size: 18px;
        list-style: none;
    }

/* login page */

.container .login-page {
    width: 100%;
    margin-top: 100px;
}

    .container .login-page .form-content {
        box-shadow: 0 0 50px #41f3c0;
        border-radius: 39px;
        overflow: hidden;
    }

.container .login-form {
    width: 100%;
    background-color: #ffffff79;
    padding: 0px;
}

    .container .login-form .login-title {
        text-align: center;
        font-size: 28px;
        font-weight: 500;
        margin-top: 20px;
    }

    .container .login-form form {
        padding: 30px 20px 20px 20px;
    }

    .container .login-form .input-form {
        padding: 10px 0;
        position: relative;
    }

        .container .login-form .input-form .show-pass,
        .container .login-form .input-form .hidden-pass {
            border: none;
            background: none;
            padding: 0;
            position: absolute;
            bottom: 12px;
            right: 0;
        }

    .container .login-form .username-input,
    .container .login-form .password-input {
        border: none;
        outline: none;
        background: none;
        border-bottom: solid 1px #000;
        padding-top: 5px;
    }

    .container .login-form .submit-btn {
        background-color: #00000079;
        border: none;
        border-radius: 20px;
        padding: 5px;
        margin-top: 20px;
        width: 80%;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        transition: transform 0.5s ease;
    }

        .container .login-form .submit-btn:hover {
            box-shadow: 0 0 20px #0091ff;
            transform: scale(1.05);
        }

    .container .login-form .login-other {
        width: 100px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #47BC9A;
        background: none;
        transition: background-color 0.5s ease;
    }

        .container .login-form .login-other:hover {
            background-color: #47BC9A;
            color: #fff;
        }

.container .exchange-form {
    width: 20%;
    background-color: #0e70599e;
    border: none;
    color: #fff;
    transition: background-color 0.5s ease;
}

    .container .exchange-form:hover {
        box-shadow: 0 0 50px #0091ff;
        background-color: #0e7059e6;
        cursor: pointer;
    }

    .container .exchange-form .exchange-btn {
        font-size: 20px;
    }

.container .login-change {
    transform: rotateY(0deg);
}

.container .register-change {
    transform: rotateY(180deg);
}

/* forgot password page */
.container .forgot-page,
.container .changePass-page {
    width: 100%;
    margin-top: 100px;
}

    .container .forgot-page .form-content,
    .container .changePass-page .form-content {
        box-shadow: 0 0 50px #41f3c0;
        border-radius: 39px;
        overflow: hidden;
    }

.container .forgot-form,
.container .changePass-form {
    width: 100%;
    background-color: #ffffff79;
    padding: 20px;
}

    .container .forgot-form .forgot-title,
    .container .changePass-form .changePass-title {
        font-size: 24px;
        font-weight: 500;
    }

    .container .forgot-form .username-input,
    .container .changePass-form .text-input {
        margin: 20px;
        padding: 5px;
        outline: 2px solid #0091ff;
        border-radius: 10px;
        border: none;
    }

        .container .forgot-form .username-input:focus,
        .container .changePass-form .text-input:focus {
            box-shadow: 0 0 20px #0091ff;
        }

    .container .forgot-form .submit-btn,
    .container .changePass-form .submit-btn {
        background-color: #00000079;
        border: none;
        border-radius: 20px;
        padding: 5px;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        transition: transform 0.5s ease;
    }

        .container .forgot-form .submit-btn:hover,
        .container .changePass-form .submit-btn:hover {
            box-shadow: 0 0 20px #0091ff;
            transform: scale(1.05);
        }

/* change password page same forgot password page */

/* newsDetails.html */
.container .news-details {
    margin-top: 80px;
}

.container .news-detail {
    padding-right: 40px;
}

    .container .news-detail img {
        width: 100%;
        background-position: center center;
        border-radius: 10px;
    }

    .container .news-detail .news-title {
        padding: 20px;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
    }

    .container .news-detail .news-description {
        margin-top: 20px;
        font-weight: 500;
        text-align: justify;
    }

.container .news-other .news-item {
    padding: 0;
    padding-bottom: 40px;
}

    .container .news-other .news-item .news-image {
        border-radius: 5px;
    }

    .container .news-other .news-item .news-title {
        color: #000;
        text-align: left;
        padding-left: 20px;
    }

    .container .news-other .news-item:hover .news-title {
        color: #fff;
    }

/* Mobile: width <740px */
@media only screen and (max-width: 739px) {

    .news-header .news-description {
        font-size: 20px;
    }
}

/* Tablet: width >= 740px and width <1024 */
@media only screen and (min-width:740px) and (max-width: 1023px) {

    .large-screen {
        display: none;
    }
}

/* PC: width>=1024px */
@media only screen and (min-width: 1024px) {

    .large-screen {
        display: contents;
    }



    .nav-menu li:hover a,
    nav .login:hover a {
        font-size: 20px;
        transform: scale(0.9);
        font-weight: 700;
        line-height: 70px;
    }

    nav .user:hover .user-name {
        display: none;
    }

    nav .user:hover .user-menu {
        display: flex;
    }

    nav .user .user-menu li {
        padding: 0 10px;
    }

        nav .user .user-menu li:hover a {
            font-size: 16px;
            font-weight: 700;
        }

    nav .user .user-menu a {
        color: white;
    }
}
