<script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
<div class="container">
    <div class="add-news">
        <div class="box-header">Tạo bài viết</div>
        <div class="box-body row py-5 px-5">
            <div class=" col-lg-10 px-5 pt-2">
                <strong class="mt-1">Tiêu đề</strong>
                <input type="text" class="nameInput mt-1" id="news-title" placeholder="Tiêu đề bài viết" />
                <div class="text-danger nameErr px-2 py-1"></div>
            </div>
            <div class=" col-lg-10 px-5 pt-2">
                <strong class="mt-1">Mô tả chi tiết</strong>

                <div id="editor">Viết mô tả tại đây</div>
                <script>
                    ClassicEditor
                        .create(document.querySelector('#editor'))
                        .then(editor => {
                            console.log(editor);
                        })
                        .catch(error => {
                            console.error(error);
                        });
                </script>
                <div class="text-danger descErr px-2 py-1"></div>
            </div>
            <div class=" col-lg-6 px-5 pt-5 d-flex justify-content-around">
                <a href="" id="createBtn" class="btn btn-success">Tạo mới</a>
                <a href="" id="cancleBtn" class="btn btn-danger">HỦY</a>
            </div>
            <div class=" col-lg-6 px-5 pt-5" id="form-message"></div>
        </div>
    </div>
</div>