<div class="container">
    <div class="contact-body d-flex">
        <div class="contact-form col-lg-6">
            <form class="">
                <div class="form-input">
                    <div class="input-title">Họ và tên</div>
                    <input class="input-text mt-2 col-12" type="text">
                </div>
                <div class="form-input">
                    <div class="input-title">Email</div>
                    <input class="input-text mt-2 col-12" type="text">
                </div>
                <div class="form-input">
                    <div class="input-title">Tin nhắn</div>
                    <textarea class="input-text col-12 mt-2" rows="3"></textarea>
                </div>
                <div class="form-input d-flex justify-content-center">
                    <input class="submit-btn col-8" type="submit" value="Gửi hỗ trợ" />
                </div>
            </form>
            <div class="contact-tag">
                <i class="fa-regular fa-envelope-open"></i>
            </div>
        </div>
        <div class="contact-info col-lg-6 d-flex justify-content-center">
            <div class="px-3">
                <div class="d-flex my-5">
                    <div class="contact-icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="contact-description d-flex align-items-center">
                        Group 16<br>
                        From FPT University.
                    </div>
                </div>
                <div class="d-flex my-5">
                    <div class="contact-icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="contact-description d-flex align-items-center">
                        +84 923459456
                    </div>
                </div>
                <div class="d-flex my-5">
                    <div class="contact-icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="contact-description d-flex align-items-center">
                        comunity@poolcom.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>