<div class="container">
    <div class="gameRule">
        <div class="gameRule-nav d-flex">
            <button class="eight-ball active">8 bi</button>
            <button class="nine-ball mx-2">9 bi</button>
            <button class="ten-ball mx-2">10 bi</button>
        </div>
        <div class="source-title">
            Quy tắc trò chơi từ
            <a class="source-link" href="https://wpapool.com/rules/">World Pool Association.</a>
        </div>

        <div class="eight-rule">
            <div class="rule-body">
                <div class="pt-5">
                    <div class="rule-title">1. Tổng quan: 8888888</div>
                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>
                </div>

                <div class="pt-5">
                    <div class="rule-title">1. Tổng quan:</div>
                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>

                    <div class="d-flex justify-content-center align-items-center my-5">
                        <img class="rule-image" src="~/images/news.jpg" />
                    </div>

                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>
                </div>

                <div class="pt-5">
                    <div class="rule-title">1. Tổng quan:</div>
                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>

                    <div class="d-flex justify-content-center align-items-center my-5">
                        <img class="rule-image" src="~/images/news.jpg" />
                    </div>

                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>
                </div>
            </div>
        </div>

        <div class="nine-rule d-none">
            <div class="rule-body">
                <div class="pt-5">
                    <div class="rule-title">1. Tổng quan: 9999999</div>
                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>
                </div>

                <div class="pt-5">
                    <div class="rule-title">1. Tổng quan:</div>
                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>

                    <div class="d-flex justify-content-center align-items-center my-5">
                        <img class="rule-image" src="~/images/news.jpg" />
                    </div>

                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>
                </div>

                <div class="pt-5">
                    <div class="rule-title">1. Tổng quan:</div>
                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>

                    <div class="d-flex justify-content-center align-items-center my-5">
                        <img class="rule-image" src="~/images/news.jpg" />
                    </div>

                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>
                </div>
            </div>
        </div>

        <div class="ten-rule d-none">
            <div class="rule-body">
                <div class="pt-5">
                    <div class="rule-title">1. Tổng quan: 10101010</div>
                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>
                </div>

                <div class="pt-5">
                    <div class="rule-title">1. Tổng quan:</div>
                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>

                    <div class="d-flex justify-content-center align-items-center my-5">
                        <img class="rule-image" src="~/images/news.jpg" />
                    </div>

                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>
                </div>

                <div class="pt-5">
                    <div class="rule-title">1. Tổng quan:</div>
                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>

                    <div class="d-flex justify-content-center align-items-center my-5">
                        <img class="rule-image" src="~/images/news.jpg" />
                    </div>

                    <div class="rule-description">
                        Eight ball is played with fifteen numbered object balls and the cue ball. The shooter’s
                        group of seven balls (one through seven or nine through fifteen) must all be off the table
                        before he attempts to pocket the eight ball to win. Shots are called. Eight ball is played
                        with fifteen numbered object balls and the cue ball. The shooter’s group of seven balls (one
                        through seven or nine through fifteen) must all be off the table before he attempts to
                        pocket the eight ball to win. Shots are called.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    //Handle option menu
    const optionBtn = document.querySelector('.option-btn');
    const smallUser = document.querySelector('.small-user');

    let isMenuVisible = false;

    optionBtn.addEventListener('click', () => {
        if (isMenuVisible) {
            smallUser.style.display = 'none';
        } else {
            smallUser.style.display = 'flex';
        }

        isMenuVisible = !isMenuVisible;
    });

    //Handle Scroll
    var prevScrollpos = window.pageYOffset;

    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        mainNav = document.querySelector('.main-nav');

        if (prevScrollpos > currentScrollPos) {
            mainNav.style.top = "0";
        } else {
            mainNav.style.top = "-100px";
        }

        prevScrollpos = currentScrollPos;
    }


    //tour-nav exchange button
    const eightBallBtn = document.querySelector('.eight-ball');
    const eightRule = document.querySelector('.eight-rule');
    const nineBallBtn = document.querySelector('.nine-ball');
    const nineRule = document.querySelector('.nine-rule');
    const tenBallBtn = document.querySelector('.ten-ball');
    const tenRule = document.querySelector('.ten-rule');
    eightBallBtn.addEventListener('click', () => {
        eightBallBtn.classList.add('active');
        nineBallBtn.classList.remove('active');
        tenBallBtn.classList.remove('active');
        window.scroll({
            top: 120,
            behavior: 'smooth'
        });
        eightRule.classList.remove('d-none');
        nineRule.classList.add('d-none');
        tenRule.classList.add('d-none');
    });
    nineBallBtn.addEventListener('click', () => {
        eightBallBtn.classList.remove('active');
        nineBallBtn.classList.add('active');
        tenBallBtn.classList.remove('active');
        window.scroll({
            top: 120,
            behavior: 'smooth'
        });
        eightRule.classList.add('d-none');
        nineRule.classList.remove('d-none');
        tenRule.classList.add('d-none');
    });
    tenBallBtn.addEventListener('click', () => {
        eightBallBtn.classList.remove('active');
        nineBallBtn.classList.remove('active');
        tenBallBtn.classList.add('active');
        window.scroll({
            top: 120,
            behavior: 'smooth'
        });
        eightRule.classList.add('d-none');
        nineRule.classList.add('d-none');
        tenRule.classList.remove('d-none');
    });



</script>