@{
    ViewData["Title"] = "Home Page";
}

<a href="#">
    <div class="news-header" style="background-image: url('../images/new_1.jpg');">
        <div class="news-description">
            JAYSON SHAW WINS BLOCKBUSTER AGAINST FEDOR GORST AS FINAL FOUR CONFIRMed
        </div>
    </div>
</a>
<div class="container">
    <div class="row news-items">
        <div class="latest-new">TIN MỚI</div>
        <a href="#" class="col-md-6 col-lg-4 news-item">
            <div class="news-date">14-10-2023</div>
            <div class="news-image">
                <img src="~/images/new_1.jpg" alt="" />
            </div>
            <div class="news-title">KO PING CHUNG DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
        </a>
        <a href="#" class="col-md-6 col-lg-4 news-item">
            <div class="news-date">14-10-2023</div>
            <div class="news-image">
                <img src="~/images/new_1.jpg" alt="" />
            </div>
            <div class="news-title">KO PING CHUNG DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
        </a>
        <a href="#" class="col-md-6 col-lg-4 news-item">
            <div class="news-date">14-10-2023</div>
            <div class="news-image">
                <img src="~/images/new_1.jpg" alt="" />
            </div>
            <div class="news-title">KO PING CHUNG DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
        </a>
        <a href="#" class="col-md-6 col-lg-4 news-item">
            <div class="news-date">14-10-2023</div>
            <div class="news-image">
                <img src="~/images/new_1.jpg" alt="" />
            </div>
            <div class="news-title">KO PING CHUNG DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
        </a>
        <a href="#" class="col-md-6 col-lg-4 news-item">
            <div class="news-date">14-10-2023</div>
            <div class="news-image">
                <img src="~/images/new_1.jpg" alt="" />
            </div>
            <div class="news-title">KO PING CHUNG DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
        </a>
        <a href="#" class="col-md-6 col-lg-4 news-item">
            <div class="news-date">14-10-2023</div>
            <div class="news-image">
                <img src="~/images/new_1.jpg" alt="" />
            </div>
            <div class="news-title">KO PING CHUNG DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
        </a>
        <a href="#" class="col-md-6 col-lg-4 news-item">
            <div class="news-date">14-10-2023</div>
            <div class="news-image">
                <img src="~/images/new_1.jpg" alt="" />
            </div>
            <div class="news-title">KO PING CHUNG DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
        </a>
        <a href="#" class="col-md-6 col-lg-4 news-item">
            <div class="news-date">14-10-2023</div>
            <div class="news-image">
                <img src="~/images/new_1.jpg" alt="" />
            </div>
            <div class="news-title">KO PING CHUNG DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
        </a>
        <a href="#" class="col-md-6 col-lg-4 news-item">
            <div class="news-date">14-10-2023</div>
            <div class="news-image">
                <img src="~/images/new_1.jpg" alt="" />
            </div>
            <div class="news-title">KO PING CHUNG DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
        </a>
        <div class="col-md-6 col-lg-12 mt-md-5 d-flex justify-content-center">
            <a href="#" class="news-load">
                <div><i class="fa-duotone fa-plus fa-2xl"></i></div>
                <div>Xem thêm</div>
            </a>
        </div>
    </div>
</div>
