<div class="container">
    <div class="row news-details">
        <div class="news-detail col-lg-7 col-12">
            <img src="~/images/news.jpg" />
            <div class="news-title">JAYSON SHAW WINS BLOCKBUSTER AGAINST FEDOR GORST AS FINAL FOUR CONFIRMed</div>
            <div class="news-description">Defending US Open Pool champion Francisco Sanchez Ruiz has been knocked out of the tournament by Poland’s Daniel Maciol at Harrah’s Resort, Atlantic City – live on DAZN in the United States and broadcasters around the world.Defending US Open Pool champion Francisco Sanchez Ruiz has been knocked out of the tournament by Poland’s Daniel Maciol at Harrah’s Resort, Atlantic City – live on DAZN in the United States and broadcasters around the world.Defending US Open Pool champion Francisco Sanchez Ruiz has been knocked out of the tournament by Poland’s Daniel Maciol at Harrah’s Resort, Atlantic City – live on DAZN in the United States and broadcasters around the world.Defending US Open Pool champion Francisco Sanchez Ruiz has been knocked out of the tournament by Poland’s Daniel Maciol at Harrah’s Resort, Atlantic City – live on DAZN in the United States and broadcasters around the world.</div>
        </div>
        <div class="news-other col-lg-5 col-12 pt-lg-0 pt-5">
            <a href="#" class="news-item row">
                <div class="news-image col-4 p-0">
                    <img src="~/images/new_1.jpg" alt="" />
                </div>
                <div class="news-title col-8">VŨ HOÀI NAM DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
            </a>
            <a href="#" class="news-item row">
                <div class="news-image col-4 p-0">
                    <img src="~/images/new_1.jpg" alt="" />
                </div>
                <div class="news-title col-8">VŨ HOÀI NAM DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
            </a>
            <a href="#" class="news-item row">
                <div class="news-image col-4 p-0">
                    <img src="~/images/new_1.jpg" alt="" />
                </div>
                <div class="news-title col-8">VŨ HOÀI NAM DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
            </a>
            <a href="#" class="news-item row">
                <div class="news-image col-4 p-0">
                    <img src="~/images/new_1.jpg" alt="" />
                </div>
                <div class="news-title col-8">VŨ HOÀI NAM DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
            </a>
            <a href="#" class="news-item row">
                <div class="news-image col-4 p-0">
                    <img src="~/images/new_1.jpg" alt="" />
                </div>
                <div class="news-title col-8">VŨ HOÀI NAM DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
            </a>
            <a href="#" class="news-item row">
                <div class="news-image col-4 p-0">
                    <img src="~/images/new_1.jpg" alt="" />
                </div>
                <div class="news-title col-8">VŨ HOÀI NAM DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
            </a>
        </div>
    </div>
</div>