<div class="container">
    <div class="login-page d-flex justify-content-center align-items-center">
        <div class="form-content d-flex col-10 col-lg-8 col-xl-6">
            <div class="login-form login-change d-flex ">
                <div class="col-10">
                    <div class="login-title">Đăng nhập</div>
                    <form class="">
                        <div class="input-form">
                            <i class="fa-solid fa-user col-12"></i>
                            <input class="username-input col-12" type="text" placeholder="Tên đăng nhập">
                        </div>
                        <div class="input-form">
                            <i class="fa-solid fa-key col-12"></i>
                            <input class="password-input col-12" type="password" placeholder="Mật khẩu">
                        </div>
                        <div class="input-form d-flex justify-content-center">
                            <input class="submit-btn" type="submit" value="Đăng nhập">
                        </div>
                        <div class="row justify-content-between">
                            <div class="pt-2 text-center">or</div>
                            <div class="col-12 mt-3 d-flex justify-content-center">
                                <button class="login-other col-3 mx-2">
                                    <i class="fa-brands fa-google-plus-g"></i>
                                    <Span>Google</Span>
                                </button>
                                <button class="login-other col-3 mx-2">
                                    <i class="fa-brands fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
                <button class="exchange-form col-3 d-flex justify-content-center align-items-center"
                        onclick="rotateForm()">
                    <i class="exchange-btn fa-solid fa-right-left"></i>
                </button>
            </div>
            <div class="login-form register-change d-none">
                <div class="col-10">
                    <div class="login-title">Đăng kí</div>
                    <form class="">
                        <div class="input-form">
                            <i class="fa-solid fa-user col-12"></i>
                            <input class="username-input col-12" type="text" placeholder="Tên đăng nhập">
                        </div>
                        <div class="input-form">
                            <i class="fa-solid fa-envelope"></i>
                            <input class="username-input col-12" type="text" placeholder="Email">
                        </div>
                        <div class="input-form">
                            <i class="fa-solid fa-key col-12"></i>
                            <input class="password-input col-12" type="password" placeholder="Mật khẩu">
                        </div>
                        <div class="input-form">
                            <input class="password-input col-12" type="password" placeholder="Nhập lại mật khẩu">
                        </div>
                        <div class="input-form d-flex justify-content-center">
                            <input class="submit-btn" type="submit" value="Đăng kí">
                        </div>
                    </form>
                </div>
                <button class="exchange-form col-3 d-flex justify-content-center align-items-center"
                        onclick="rotateForm()">
                    <i class="exchange-btn fa-solid fa-right-left"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>

    //Rotate form
    function rotateForm() {
        const formContent = document.querySelector('.form-content');
        const loginForm = document.querySelector('.login-change');
        const registerForm = document.querySelector('.register-change');

        formContent.style.transition = 'transform 1s ease';
        formContent.style.transform = formContent.style.transform === 'rotateY(180deg)' ? 'rotateY(0deg)' : 'rotateY(180deg)';

        setTimeout(() => {
            if (loginForm.classList.contains('d-flex')) {
                loginForm.classList.remove('d-flex');
                loginForm.classList.add('d-none');
                registerForm.classList.remove('d-none');
                registerForm.classList.add('d-flex');
            } else {
                registerForm.classList.remove('d-flex');
                registerForm.classList.add('d-none');
                loginForm.classList.remove('d-none');
                loginForm.classList.add('d-flex');
            }
        }, 300);
    }


</script>