<div class="container">
    <div class="changePass-page d-flex justify-content-center align-items-center">
        <div class="form-content d-flex col-10 col-lg-8 col-xl-6">
            <div class="changePass-form ">
                <div class="changePass-title text-center">Đổi mật khẩu</div>
                <form class="">
                    <div class="input-form d-flex justify-content-center">
                        <input class="text-input col-10" type="text" placeholder="Nhập mật khẩu hiện tại">
                    </div>
                    <div class="input-form d-flex justify-content-center">
                        <input class="text-input col-10" type="text" placeholder="Nhập mật khẩu mới">
                    </div>
                    <div class="input-form d-flex justify-content-center">
                        <input class="text-input col-10" type="text" placeholder="Nhập lại mật khẩu mới">
                    </div>

                    <div class="input-form d-flex justify-content-center">
                        <input class="submit-btn col-6" type="submit" value="Đổi mật khẩu">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>