<div class="container">
    <div class="verify-register d-flex justify-content-center">
        <form class="verify-form">
            <div class="verify-title text-center mt-4">
                Một bước cuối cùng!<br>
                Chúng tôi cần xác minh tài khoản email của bạn
            </div>
            <div class="verify-content text-center mt-3">
                Vui lòng kiểm tra hộp thư đến của bạn để biết mã xác minh được gửi tới
                <b>abcd@gmail.com</b>
            </div>
            <div class="mt-5 text-center py-2"><b>Nhập mã</b></div>
            <div class="d-flex justify-content-center">
                <input class="code-input">
                <input class="code-input">
                <input class="code-input">
                <input class="code-input">
                <input class="code-input">
                <input class="code-input">
            </div>
            <div class="d-flex justify-content-center mt-5">
                <input class="submit-btn" type="submit" value="Xác minh">
            </div>
            <div class="text-center my-5">
                <i>Nếu bạn chưa nhận được mã?<br> Vui lòng kiểm tra thư mục thư rác của bạn.</i>
            </div>
        </form>
    </div>
</div>